@import '../../styles/index.scss';

.setup-profile {
  .setup-avatar {
    width: 108px;
    height: 108px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #dfeaf5;
    border-radius: 50%;
    margin: 40px auto 16px auto;
    cursor: pointer;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.busy {
      opacity: 0.6;
    }
  }

  .setup-avatar-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}

@mixin themable($_THEME, $_PROFILE, $_TEXT_COLOR){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .setup-profile {
      .setup-avatar {
        background-image: url(../../#{$_PATH_TO_IMAGES}/#{$_PROFILE});
      }

      .setup-avatar-name {
        color: $_TEXT_COLOR;
      }
    }
  }
}

@include themable($_THEME_LIGHT, $_PROFILE_LIGHT, $_TEXT_COLOR_LIGHT);
@include themable($_THEME_DARK, $_PROFILE_DARK, $_TEXT_COLOR_DARK);