@import '../../styles/index.scss';

.setup-backup {
  > div {
    color: #505050;
    font-size: 16px;
    margin-top: 48px;
    font-weight: 300;
  }
}

@mixin themable($_THEME, $_TEXT_OPAQUE_COLOR){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .setup-backup {
      > div {
        color: $_TEXT_OPAQUE_COLOR;
      }
    }
  }
}

@include themable($_THEME_LIGHT, $_TEXT_OPAQUE_COLOR_LIGHT);
@include themable($_THEME_DARK, $_TEXT_OPAQUE_COLOR_DARK);