@import '../../styles/index.scss';

.setup-wrapper {
  padding: 134px 42px 50px 42px;
  transition: all 0.5s ease;
  
  * {
    transition: all 0.5s ease;
  }

  .back-button {
    position: fixed;
    top: 56px;
    left: 31px;
    font-size: 24px;
    height: 26px;
    color: #0091ff;
    cursor: pointer;
  }

  .steps-guide {
    color: #939393;
    font-size: 13px;
    font-weight: bold;
  }

  .setup-title {
    width: 266px;
    height: 56px;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    margin-top: 8px;
  }

  .step-container {
    height: 264px;
    overflow: auto;
  }  
}

@mixin themable($_THEME, $_SECTION_TITLE_COLOR){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .setup-wrapper {  
      .steps-guide {
        color: #939393;
      }
    
      .setup-title {
        color: $_SECTION_TITLE_COLOR;
      }
    }
  }
}

@include themable($_THEME_LIGHT, $_SECTION_TITLE_COLOR_LIGHT);
@include themable($_THEME_DARK, $_SECTION_TITLE_COLOR_DARK);