
.setup-wrapper {
  margin: 134px 42px 50px 42px;

  .steps-guide {
    color: #939393;
    font-size: 13px;
    font-weight: bold;
  }

  .setup-title {
    width: 266px;
    height: 56px;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    margin-top: 8px;
  }

  .step-container {
    height: 264px;
    overflow: auto;
  }  
}