.linking-container {
  font-family: 'NunitoSans';
  width: 402px;
  height: 266px;
  border-radius: 8px;
  background-color: #fff;
  user-select: none;

  .content {
    height: 90%;
    padding: 3%;

    .header {
      width: 100%;
      height: 20px;
      text-align: center;
      h3 {
        margin: 10px 0px;
      }
    }

    .linking-devices-icons {
      position: relative;
      top: 16%;
      width: 117px;
      margin: 0 auto;
      display: flex;
      font-size: 35px;
      color: #afb0b5;
      justify-content: space-between;

      > .linking-dots {
        display: flex;
        margin-top: 15px;
        .dot {
          height: 5px;
          width: 5px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          margin: 0px 3px;
        }
      }
    }

    .bar {
      position: relative;
      top: 22%;
      left: 11%;
      width: 305px;
      height: 10px;
      border-radius: 5px;
      background-color: rgba(0, 145, 255, 0.25);
      
      .content {
        padding: 0.5px;
        opacity: 1;
        border-radius: 5px;
        transition: width 1.5s;
        background-image:
          repeating-linear-gradient(
            -45deg,
          #0091ff,
          #0091ff 11px,
          #50b0f9 10px,
          #50b0f9 20px
          );
        background-size: 28px 28px;
        animation: move 1s linear infinite;
      }
      @keyframes move {
        0% { background-position: 0 0; }
        100% { background-position: 28px 0; }
      }
    }

    .percent {
      position: relative;
      top:27%;
      left: 43%;
      width: 46px;
      height: 22px;
      .content {
        width: 45px;
        height: 22px;
        border-radius: 50px;
        background-color: #373a45;
        text-align: center;
        span {
          margin: 0px 6px;
          font-size: 13px;
          color: #fff;
        }
      }
    }
    .percent::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #373a45 transparent;
    }

    .message {
      width: 100%;
      font-size: 14px;
      text-align: center;
      position: relative;
      top: 31%;
      .syncing {
        font-weight: bold;
        color: #373a45;
      }
      .retry {
        font-weight: 600;
        color: #373a45;
        .retry-link {
          font-weight: 600;
          color: #0091ff;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .device-name {
      width: 100%;
      text-align: center;
      position: relative;
      top: 30%;
      span {
        opacity: 0.4;
        font-size: 13px;
        font-style: italic;
        text-align: center;
        color: #373a45;
      }
    }

    .cancel-sync-link {
      width: 100%;
      text-align: center;
      position: relative;
      top: 35%;
      span {
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        color: #0091ff;
        &:hover {
          cursor: pointer;
        }
      }
      .keep-waiting-button {
        width: 90px;
        background-color: #0091ff;
        border-radius: 12px;
        height: 20px;
        padding: 10;
        color: #fff;
        font-weight: 600;
        outline: none;
        border: none;
        margin-left: 8px;
        cursor: pointer;
      }
    }
  }
}
