.dialog-container {
  .dialog-content {
    width: 250px;

    h3{
      margin-bottom: 5px;
    }

    .dialog-content-body{
      margin-top: 35px;

      .device-info{
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 0;

        i{
          color: #afb0b5;
          font-size: 35px;
          margin-right: 5px;
        }
      }
    }

    .dialog-content-buttons {
      margin-top: 30px;
      position: relative;
      text-align: center;
    }
  }
}
