.dialog-container{
  &.link-container{
    .dialog-content{
      width: 330px;

      .dialog-content-body{
        margin-top: 25px;

        .linking-devices-icons {
          position: relative;
          top: 16%;
          width: 117px;
          margin: 0 auto;
          display: flex;
          font-size: 35px;
          color: #afb0b5;
          justify-content: space-between;
    
          > .linking-dots {
            display: flex;
            margin-top: 15px;
            .dot {
              height: 5px;
              width: 5px;
              background-color: #bbb;
              border-radius: 50%;
              display: inline-block;
              margin: 0px 3px;
            }
          }
        }

        .bar {
          background-color: rgba(0, 145, 255, 0.25);
          border-radius: 5px;
          height: 8px;
          margin: 10px auto 0;
          position: relative;
          width: 305px;

          .content {
            opacity: 1;
            border-radius: 5px;
            transition: width 1.5s;
            height: 100%;
            background-image:
              repeating-linear-gradient(
                -45deg,
              #0091ff,
              #0091ff 11px,
              #50b0f9 10px,
              #50b0f9 20px
              );
            background-size: 28px 28px;
            animation: move 1s linear infinite;
          }

          @keyframes move {
            0% { background-position: 0 0; }
            100% { background-position: 28px 0; }
          }
        }

        .percent {
          height: 22px;
          margin: 8px auto 0;
          position: relative;
          width: 46px;
          
          .content {
            width: 45px;
            height: 22px;
            border-radius: 50px;
            background-color: #373a45;
            text-align: center;
            
            span {
              color: #fff;
              margin: 0px 6px;
              font-size: 13px;
            }
          }
        }

        .percent::before {
          content: "";
          position: absolute;
          top: -10px;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent #373a45 transparent;
        }

        .message {
          font-size: 14px;
          margin-top: 5px;
          position: relative;
          text-align: center;
          width: 100%;

          .syncing {
            font-weight: bold;
          }

          .retry {
            font-weight: 400;

            .retry-link {
              font-weight: 600;
              color: #0091ff;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }

        .device-name {
          width: 100%;
          text-align: center;
          position: relative;
    
          span {
            opacity: 0.4;
            font-size: 13px;
            font-style: italic;
            text-align: center;
          }
        }

        .cancel-sync-link {
          margin-top: 10px;
          position: relative;
          text-align: center;
          width: 100%;
    
          span {
            font-size: 13px;
            font-weight: bold;
            text-align: center;
            color: #0091ff;
            &:hover {
              cursor: pointer;
            }
          }
          
          .keep-waiting-button {
            width: 90px;
            background-color: #0091ff;
            border-radius: 12px;
            height: 20px;
            padding: 10;
            color: #fff;
            font-weight: 600;
            outline: none;
            border: none;
            margin-left: 8px;
            cursor: pointer;
          }
        }
      }
    }
  }
}