@import "./../styles/index.scss";

.loading-body {
  font-family: 'NunitoSans';
  width: 327px;
  height: 141px;
  border-radius: 7px;
  background-color: #fff;

  .content {
    .logo {
      width: 100%;
      height: 39%;
      margin: 0px;
      padding: 14px 148px;
      .icon-criptext {
        color: #0091ff;
        font-size: 32px;
      }
    }

    .bar {
      width: 249px;
      height: 9px;
      margin: 0px 38px 9px 38px;
      border-radius: 5px;
      background-color: rgba(0, 145, 255, 0.25);
      .content {
        height: 100%;
        opacity: 1;
        border-radius: 5px;
      }
      .running-animation {
        width: 100%;
        background: linear-gradient(294deg, #0091ff, #25b1ff 42%, #56c3ff 71%, #ffffff);
      }
      .stop-animation {
        width: 0%;
        background-color: red;
        animation: fadeDown 1s linear;
      }
      @keyframes fadeDown {
        0% { width: 100%; }
        100% { width: 0%; }
      }
    }

    .percent {
      width: 46px;
      height: 22px;
      padding: 0px 141px;
      margin-bottom: 3px;
      .content {
        width: 45px;
        height: 22px;
        margin-top: 12px;
        border-radius: 50px;
        background-color: #373a45;
        text-align: center;
        span {
          margin: 0px 6px;
          font-size: 13px;
          color: #fff;
        }
      }
    }
    .percent::before {
      content: "";
      position: absolute;
      bottom: 40%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #373a45 transparent;
    }

    .message {
      text-align: center;
      .creating {
        font-size: 12px;
        font-weight: 600;
        color: #373a45;
      }
      .retry {
        font-size: 12px;
        font-weight: 600;
        color: #373a45;
        margin-top: 2%;
        .retry-link {
          font-size: 12px;
          font-weight: 600;
          color: #0091ff;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    
  }
}
