# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
*/node_modules
*_interface/deps

# testing
*/coverage
electron_app/src/__integrations__/**@criptext.com/

#dev
electron_app/userData/

# production
*_interface/build
email_*/build
*/dist
*/src/**/*.css
*/release-builds/
*/src/app
*/src/app/build/
electron_app/build/Certificates.p12
electron_app/build/Criptext_Mail_Distribution.provisionprofile
electron_app/dev-app-update.yml

# misc
*/.env*
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*.db
.vscode
