/***

FILE: index.css

TABLE OF CONTENTS

1.- PATHS
2.- THEME LIGHT

***/

/* 1.- PATHS
   ----------------------------- */
$_PATH_TO_IMAGES: './images';
$_PATH_TO_FONTS: './fonts';

/* 2.- THEME LIGHT
   ----------------------------- */
$_BACKGROUND_COLOR_POPUP_LIGHT: white;
$_BORDER_COLOR_POPUP_LIGHT: #ececee;