/***

FILE: index.css

TABLE OF CONTENTS

1.- PATHS
2.- THEME LIGHT

***/

/* 1.- PATHS
   ----------------------------- */
$_PATH_TO_IMAGES: './images';
$_PATH_TO_FONTS: './fonts';

/* 2.- THEME
----------------------------- */
$_THEME_LIGHT: 'light';
$_THEME_DARK: 'dark';

/* 3.- THEME LIGHT
   ----------------------------- */
$_BACKGROUND_COLOR_POPUP_LIGHT: white;
$_BORDER_COLOR_POPUP_LIGHT: #ececee;
$_BACKGROUND_COLOR_LIGHT: #ffffff;
$_FOOTER_COLOR_LIGHT: #8a8a8a;
$_CLEAR_BUTTON_BACKGROUND_LIGHT: transparent;
$_CLEAR_BUTTON_BORDER_LIGHT: #e0e0e0;
$_CLEAR_BUTTON_COLOR_LIGHT: #4a4a4a;
$_SECTION_TITLE_COLOR_LIGHT: #000000;
$_SECTION_SUBTITLE_COLOR_LIGHT: #505050;
$_TEXT_COLOR_LIGHT: #000000;
$_TEXT_OPAQUE_COLOR_LIGHT: #505050;
$_INPUT_UNDERLINE_COLOR_LIGHT: #d4dae3;

$_SLIDER_CONTAINER_BACKGROUND_COLOR_LIGHT: #dfe2e7;
$_SLIDER_CONTAINER_COLOR_LIGHT: black;
$_SLIDER_BACKGROUND_COLOR_LIGHT: #ffffff;
$_SLIDER_COLOR_LIGHT: #4a4a4a;


$_LAUNCH_TITLE_LIGHT: "img-logo.svg";
$_LAUNCH_SUBTITLE_LIGHT: "img-subtitle.svg";
$_ACCOUNT_READY_LIGHT: 'img-card.svg';
$_PROFILE_LIGHT: "img-profile-dm.svg";

/* 4.- THEME DARK
----------------------------- */
$_BACKGROUND_COLOR_POPUP_DARK: #1f2228;
$_BORDER_COLOR_POPUP_DARK: #14171d;
$_BACKGROUND_COLOR_DARK: #1f2228;
$_FOOTER_COLOR_DARK: #a8acb6;
$_CLEAR_BUTTON_BACKGROUND_DARK: #373a45;
$_CLEAR_BUTTON_BORDER_DARK: transparent;
$_CLEAR_BUTTON_COLOR_DARK: #acb5c9;
$_SECTION_TITLE_COLOR_DARK: #ffffff;
$_SECTION_SUBTITLE_COLOR_DARK: #a8acb6;
$_TEXT_COLOR_DARK: #ffffff;
$_TEXT_OPAQUE_COLOR_DARK: #a8acb6;
$_INPUT_UNDERLINE_COLOR_DARK: #798091;

$_SLIDER_CONTAINER_BACKGROUND_COLOR_DARK: #14171d;
$_SLIDER_CONTAINER_COLOR_DARK: #798091;
$_SLIDER_BACKGROUND_COLOR_DARK: #373a45;
$_SLIDER_COLOR_DARK: white;

$_LAUNCH_TITLE_DARK: "img-logo-dm.svg";
$_LAUNCH_SUBTITLE_DARK: "img-subtitle-dm.svg";
$_ACCOUNT_READY_DARK: 'img-card-dm.svg';
$_PROFILE_DARK: "img-profile-dm.svg";

