#section-changepassword {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  margin: auto;

  .section-wrapper {
    margin: 0 auto;
    margin-top: -120px;
    text-align: center;

    h1 {
      color: white;
      font-size: 17px;
      font-weight: 400;
    }

    span.description {
      color: white;
      font-size: 14px;
      font-weight: 300;
    }

    .form {
      margin-top: 50px;
    }

    .buttons {
      margin-top: 50px;

      button {
        background-color: #373a45;
        border: none;
        border-radius: 30px;
        height: 32px;
        margin: 0% 0% 0% 0%;
        padding: 0px;
        width: 100%;

        span {
          color: white;
        }
      }
    }
  }
}
