@import './../styles/index.scss';

.continue {
  font-family: 'NunitoSans';
  width: 328px;
  height: 513px;
  border-radius: 0px 0px 7px 7px;
  background: linear-gradient(to bottom, #00c4ff, #0091ff);

  .header {
    height: 60px;
    width: 100%;
    .button-section {
      height: 100%;
      width: 20%;
      float: left;
      .back-button {
        position: relative;
        top: calc(50% - 18px);
        left: calc(50% - 18px);
        border: none;
        outline: none;
        border-radius: 100px;
        width: 36px;
        height: 36px;
        background-color: rgba(255, 255, 255, 0.26);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
        font-size: 22px;
        color: #ffffff;
        padding: 5px 0px 0px 2px;
      }
      .back-button:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      }
    }
    .criptext-logo {
      height: 100%;
      width: 80%;
      float: right;
      .icon {
        height: 33px;
        width: 96px;
        float: right;
        position: relative;
        top: calc(50% - 12px);
        right: 20px;
        color: #ffffff;
        background-image: url(../#{$_PATH_TO_IMAGES}/icon-criptext.svg);
        background-position: center;
        background-size: 100%;
      }
    }
  }

  .content {
    height: calc(100% - 70px);
    width: 100%;

    .content-header {
      height: 22%;
      color: #ffffff;
      text-align: center;
      p {
        font-size: 17px;
        font-weight: 800;
        margin: 0px;
        position: relative;
        top: 30%;
      }
    }

    .message {
      height: 15%;
      color: #ffffff;
      text-align: center;
      p {
        font-size: 13px;
        font-weight: 600;
        margin: 0px;
      }
    }

    .button {
      height: 30%;
      p {
        margin: 0px;
        margin-bottom: 3%;
        font-size: 13px;
        text-align: center;
        color: #ffffff;
      }
      .resend-button {
        border: none;
        border-radius: 100px;
        padding: 8.5px;
        background-color: #373a45;
        margin: 0px 57px 45px 57px;
        width: 66%;
        opacity: 0.9;
        cursor: pointer;

        span {
          color: #fff;
          font-weight: 600;
          opacity: 0.9;
        }

        &:focus {
          outline: none;
        }

        &:hover {
          opacity: 1;
          span {
            opacity: 1;
          }
        }

        &:disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
    .cant-access {
      width: 42%;
      font-size: 13px;
      text-align: center;
      color: #ffffff;
      border-bottom: solid 1px #fff;
      margin: 0 auto;
      cursor: pointer;
      span {
        position: relative;
        top: 2px;
      }
    }
  }
}
