#popup-delete-device {
  .popup-scroll {
    border-bottom: solid 1px rgba(143, 143, 143, 0.42);
    border-top: solid 1px rgba(143, 143, 143, 0.42);
    height: 270px;
    margin-left: -25px;
    margin-top: 20px;
    width: calc(100% + 50px);

    ul {
      margin: 0;
      padding: 0;
    }
  }

  .popup-input {
    margin: 0 auto;
    width: 90%;
  }
}
