@import './../styles/index.scss';

.login {
  font-family: 'NunitoSans';
  width: 328px;
  height: 513px;
  border-radius: 0px 0px 7px 7px;
  background: linear-gradient(to bottom, #00c4ff, #0091ff);
  .header {
    height: 55%;
    width: 100%;
    text-align: center;
    .logo {
      height: 65%;
      padding: 0 auto;
      .icon {
        height: 51px;
        width: 57px;
        margin: 0 auto;
        position: relative;
        top: 65%;
        background: url('./../images/logo-2-copy@2x.png') no-repeat center
          center;
        background-size: 100%;
      }
    }
    .text {
      height: 35%;
      position: relative;
      top: 5px;
      color: #ffffff;
      font-size: 20px;
    }
  }

  .form {
    height: 20%;
    width: 65%;
    margin: 0 auto;
    position: relative;

    form {
      .label {
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;

        input {
          background: transparent;
          width: 55%;
          border: 0px;
          border-bottom: solid 1px rgba(255, 255, 255, 0.19);
          color: #ffffff;
          font-size: 13px;
          font-weight: 300;
          text-indent: 7px;

          &::placeholder {
            color: rgba(255, 255, 255, 0.6);
            opacity: 1;
          }

          &:focus {
            outline: none;
            border-bottom: solid 1px #fff;
          }
        }
        span {
          width: 40%;
          font-size: 14px;
          font-weight: 400;
          color: #ffffff;
          text-align: center;
        }
      }

      .error-message {
        font-size: 12px;
        color: #000;
        left: 7px;
      }

      .button {
        bottom: 0;
        margin: 5% 0% 0% 0%;
        padding: 0px;
        position: absolute;
        width: 100%;

        .button-login {
          border: none;
          border-radius: 100px;
          padding: 10px;
          background-color: #373a45;
          opacity: 0.5;
          margin: 15px 0;
          width: 100%;
          transition: opacity 0.1s;
          outline: none;

          span {
            color: #fff;
            font-weight: 600;
            opacity: 0.9;
            transition: opacity 0.1s;
          }
        }

        .button-login:enabled {
          opacity: 0.9;
          span {
            opacity: 0.9;
          }
        }

        .button-login:hover:enabled {
          opacity: 1;
          span {
            opacity: 1;
          }
        }
      }
    }
  }

  .footer {
    height: 20%;
    color: #ffffff;
    font-size: 13px;

    .signup-message {
      position: relative;
      top: 8%;
      text-align: center;

      span {
        font-weight: 300;
        strong {
          cursor: pointer;
        }
      }
    }
  }
}
