@import './../styles/index.scss';

.lost {
  font-family: 'NunitoSans';
  height: 513px;
  width: 328px;
  border-radius: 0px 0px 7px 7px;
  background: linear-gradient(to bottom, #00c4ff, #0091ff);

  .header {
    height: 60px;
    width: 100%;
    .button-section {
      height: 100%;
      width: 20%;
      float: left;
      .back-button {
        position: relative;
        top: calc(50% - 18px);
        left: calc(50% - 18px);
        border: none;
        outline: none;
        border-radius: 100px;
        width: 36px;
        height: 36px;
        background-color: rgba(255, 255, 255, 0.26);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
        font-size: 22px;
        color: #ffffff;
        padding: 5px 0px 0px 2px;
        cursor: pointer;
      }
      .back-button:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      }
    }
    .criptext-logo {
      height: 100%;
      width: 80%;
      float: right;
      .icon {
        height: 33px;
        width: 96px;
        float: right;
        position: relative;
        top: calc(50% - 12px);
        right: 20px;
        color: #ffffff;
        background-image: url(../#{$_PATH_TO_IMAGES}/icon-beta.svg);
        background-position: center;
        background-size: 100%;
      }
    }
  }

  .subheader {
    height: 40%;
    width: 100%;
    text-align: center;
    .sub-text {
      height: 35%;
      position: relative;
      top: 40%;
      color: #ffffff;
      p:nth-child(1) {
        margin: 0px;
        font-size: 17px;
        font-weight: 600;
      }
      p:nth-child(2) {
        margin: 4% 0% 0% 0%;
        font-size: 14px;
      }
    }
  }

  .form {
    height: 45%;
    width: 60%;
    margin: 0 auto;

    form {
      .label-password {
        width: 100%;
        margin: 10% 0% 0% 0%;
        padding: 0px;
        input {
          width: 100%;
          background: transparent;
          text-indent: 7px;
          border: 0px;
          border-bottom: solid 1px rgba(255, 255, 255, 0.19);
          color: #ffffff;
        }
        input::placeholder {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.6);
          opacity: 1;
        }
        input:focus {
          outline: none;
          border-bottom: solid 1px #ffffff;
        }
        .forgot-password {
          color: rgba(255, 255, 255, 0.6);
          position: relative;
          font-size: 12px;
          top: -23px;
          right: -75%;
          cursor: pointer;
        }
        .forgot-password:hover {
          color: rgba(255, 255, 255, 1);
        }
      }

      .button {
        width: 100%;
        margin: 0% 0% 0% 0%;
        padding: 0px;

        .button-lost.button-is-loading {
          padding: 0px;
        }
        .button-lost {
          border: none;
          border-radius: 100px;
          padding: 10px;
          background-color: #373a45;
          opacity: 0.5;
          margin: 15px 0;
          width: 100%;
          transition: opacity 0.1s;
          outline: none;

          .button-text {
            color: #fff;
            font-weight: 600;
            opacity: 0.9;
            transition: opacity 0.1s;
            margin-top: 8.5px;
          }

          .loading {
            height: 32px;
            margin: 0px auto;
            padding: 0px;
            position: relative;
            width: 32px;
            div {
              background-color: #ffffff;
              height: 5px;
              position: absolute;
              width: 2px;
              border-radius: 2px;
              transform: scale(0.4);
              animation-name: loading;
              animation-duration: 1.04s;
              animation-iteration-count: infinite;
              animation-direction: linear;
            }
            div:nth-child(1) {
              left: 7px;
              top: 13px;
              transform: rotate(-90deg);
              animation-delay: 0.39s;
            }
            div:nth-child(2) {
              left: 9px;
              top: 7px;
              transform: rotate(-45deg);
              animation-delay: 0.52s;
            }
            div:nth-child(3) {
              left: 15px;
              top: 5px;
              transform: rotate(0deg);
              animation-delay: 0.65s;
            }
            div:nth-child(4) {
              right: 8px;
              top: 7px;
              transform: rotate(45deg);
              animation-delay: 0.78s;
            }
            div:nth-child(5) {
              right: 7px;
              top: 13px;
              transform: rotate(90deg);
              animation-delay: 0.91s;
            }
            div:nth-child(6) {
              right: 8px;
              bottom: 7px;
              transform: rotate(135deg);
              animation-delay: 1.04s;
            }
            div:nth-child(7) {
              bottom: 5px;
              left: 15px;
              transform: rotate(180deg);
              animation-delay: 1.17s;
            }
            div:nth-child(8) {
              left: 9px;
              bottom: 7px;
              transform: rotate(-135deg);
              animation-delay: 1.3s;
            }
          }
          @keyframes loading {
            0% {
              background-color: #fff;
            }
            100% {
              background-color: #0091ff;
            }
          }
        }

        .button-lost:enabled {
          opacity: 0.9;
          span {
            opacity: 0.9;
          }
        }
        .button-lost:hover:enabled {
          opacity: 1;
          span {
            opacity: 1;
          }
        }
      }
    }
  }
}
