@import './../styles/index.scss';

.popup-wrapper {
  position: absolute;
}

.popup-container {
  box-shadow: 0 1px 16px 0 rgba(143, 143, 143, 0.56);
  border: solid 1px transparent;
  border-radius: 15px;
  position: absolute;
  color: black;
  width: auto;
  z-index: 11;
  transform: translate(-50%, -50%);
  background-color: $_BACKGROUND_COLOR_POPUP_LIGHT;
  border-color: $_BORDER_COLOR_POPUP_LIGHT;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.step-container {
  .popup-container {
    width: 265px;
  }

  button {
    font-size: 13px;
  }
}