.recovery-code-input-error {
  width: calc(100% - 40px);
  height: 10px;
  padding-left: 20px;
}

.recovery-code-input {
  border-bottom: solid 1px rgba(143, 143, 143, 0.42);
  font-size: 20px;
  margin-top: 5px;
  width: calc(100% - 40px);
}
