@import './../styles/index.scss';

.signup {
  font-family: 'NunitoSans';
  width: 100%;
  height: 100%;

  .form {
    height: 100%;
    margin: 0 auto;
    width: 70%;

    .form-header {
      height: 17%;
      color: #ffffff;
      text-align: center;
      padding-top: 8%;

      p:nth-child(1) {
        font-size: 1.42rem;
        font-weight: 800;
        margin: 0px;
      }

      p:nth-child(2) {
        font-size: 1.17rem;
        margin-top: 3px;
      }
    }

    .signup-form {
      height: 60%;

      form {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0 auto;
        width: 100%;

        .form-item {
          &:nth-child(5) {
            margin-bottom: 9.5%;
          }

          &:nth-child(6) {
            margin-bottom: 1.5%;
          }

          &.checkbox {
            .label-acceptterms {
              a {
                text-decoration: none;
                color: inherit;
              }
              .strong {
                cursor: pointer;
                font-weight: 600;
              }
            }
          }

          .input-data {
            .input-username {
              width: calc(100% - 85px);
            }
          }
        }

        .button {
          width: 100%;
          margin: 0 auto;
          padding: 0px;

          .create-button {
            border: none;
            border-radius: 100px;
            padding: 8.5px;
            background-color: #373a45;
            opacity: 0.5;
            outline: none;
            margin: 0px;
            width: 100%;
            transition: opacity 0.3s;

            span {
              color: #fff;
              font-weight: 600;
              opacity: 0.5;
              transition: opacity 0.3s;
            }
          }
          .create-button:enabled {
            opacity: 0.9;
            span {
              opacity: 0.9;
            }
          }
          .create-button:hover:enabled {
            opacity: 1;
            span {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .general-error {
    text-align: center;
    color: black;
    font-size: 0.9rem;
    padding-top: 5px;
  }
}

.signup.web {
  background: none;
  margin: 0 auto;
}
