@import './../styles/index.scss';

.signup {
  font-family: 'NunitoSans';
  width: 27.33rem;
  height: 42.75rem;
  border-radius: 0 0 0.58rem 0.58rem;
  background: linear-gradient(to bottom, #00c4ff, #0091ff);

  .header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;

    .button-section {
      height: 100%;
      width: 20%;

      .back-button {
        position: relative;
        top: calc(50% - 18px);
        left: calc(50% - 18px);
        border: none;
        border-radius: 100px;
        width: 36px;
        height: 36px;
        outline: none;
        background-color: rgba(255, 255, 255, 0.26);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
        font-size: 22px;
        color: #ffffff;
        padding: 5px 0px 0px 2px;
      }

      .back-button:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      }
    }
    .criptext-logo {
      height: 100%;
      width: 34%;

      .icon {
        height: 33px;
        width: 96px;
        position: relative;
        top: calc(50% - 15px);
        color: #ffffff;
        background-image: url(../#{$_PATH_TO_IMAGES}/icon-criptext.svg);
        background-position: center;
        background-size: 100%;
      }
    }
  }

  .form {
    height: calc(100% - 60px);
    width: 100%;
    padding-top: 3%;

    .form-header {
      height: 20%;
      color: #ffffff;
      text-align: center;
      padding-top: 5%;

      p:nth-child(1) {
        font-size: 1.42rem;
        font-weight: 800;
        margin: 0px;
      }

      p:nth-child(2) {
        font-size: 1.17rem;
        margin-top: 3px;
      }
    }

    .signup-form {
      height: 80%;

      form {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0 auto;
        width: 100%;

        .form-item.hasError {
          .input-data {
            input,
            input:focus {
              border-bottom: solid 2px #191a1f;
            }
          }
        }

        .form-item {
          display: flex;
          flex-direction: row;
          height: 3.17rem;
          width: 100%;

          &:nth-child(5) {
            margin-bottom: 9.5%;
          }

          &:nth-child(6) {
            margin-bottom: 1.5%;

            .input-data {
              flex-direction: row;

              .checkmark-container {
                align-self: flex-start;
              }
            }
          }

          .checkmark-container {
            .checkmark-checked::after {
              top: 8px;
              left: 4px;
            }

            span:nth-child(2) {
              width: calc(100% - 59px - 12px);
              font-weight: 500;
              color: #ffffff;
              position: relative;
              bottom: -6px;
            }
          }

          .validate-icon-section {
            font-size: 1.67rem;
            height: 100%;
            width: 59px;

            .valid-icon {
              color: #ffffff;
              position: relative;
              top: 0%;
              left: calc(50% - 6px);
            }

            .invalid-icon {
              color: #000000;
              position: relative;
              top: 0%;
              left: calc(50% - 6px);
            }

            .no-icon {
              width: 10%;
            }
          }

          .input-data {
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
            width: calc(100% - 59px);

            input[type='password'] {
              font-size: 0.85rem;
              padding-right: 25px;
              width: calc(100% - 84px);
              -webkit-text-security: square;
            }

            span.input-icon {
              color: #ffffff;
              top: -3px;
              font-size: 1.5rem;
              margin-bottom: 5px;
              opacity: 0.5;
              position: absolute;
              right: 22%;
            }

            .input-username {
              color: #ffffff;
              padding-left: 7px;
              padding-bottom: 3px;
              background: transparent;
              font-size: 0.9rem;
              width: 39%;
              border: 0px;
              border-bottom: solid 2px rgba(255, 255, 255, 0.19);
            }

            .label-username {
              position: absolute;
              width: 40%;
              left: 42%;
              padding-left: 3%;
              font-size: 0.9rem;
              font-weight: 500;
              color: #ffffff;
            }

            .input-fullname,
            .input-password,
            .input-confirmpassword,
            .input-recoveryemail {
              width: calc(100% - 59px);
              color: #ffffff;
              font-size: 0.9rem;
              text-indent: 7px;
              padding-bottom: 3px;
              background: transparent;
              border: 0px;
              border-bottom: solid 2px rgba(255, 255, 255, 0.19);
            }

            input::placeholder {
              color: #ffffff;
              opacity: 0.6;
            }

            input:focus {
              outline: none;
              border-bottom: solid 2px #ffffff;
            }

            .checkmark-container {
              .checkmark-checked:after {
                position: relative;
                top: -2px;
                left: 2px;
              }
            }

            .label-acceptterms {
              width: 76%;
              font-size: 0.83rem;
              font-weight: 300;
              margin-left: 10px;
              color: #ffffff;
              a {
                text-decoration: none;
                color: inherit;
              }
              .strong {
                cursor: pointer;
                font-weight: 600;
              }
            }

            .error-message {
              font-size: 0.75rem;
              color: #000;
              margin-top: 2px;
            }
          }
        }

        .button {
          width: calc(100% - 118px);
          margin: 0 auto;
          padding: 0px;
          .create-button {
            border: none;
            border-radius: 100px;
            padding: 8.5px;
            background-color: #373a45;
            opacity: 0.5;
            outline: none;
            margin: 0px;
            width: 100%;
            transition: opacity 0.3s;
            span {
              color: #fff;
              font-weight: 600;
              opacity: 0.5;
              transition: opacity 0.3s;
            }
          }
          .create-button:enabled {
            opacity: 0.9;
            span {
              opacity: 0.9;
            }
          }
          .create-button:hover:enabled {
            opacity: 1;
            span {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.signup.web {
  background: none;
  margin: 0 auto;
}
