@import "./../styles/index.scss";


.signup {
  font-family: 'NunitoSans';
  height: 513px;
  width: 328px;
  border-radius: 0px 0px 7px 7px;
  background: linear-gradient(to bottom, #00c4ff, #0091ff);

  .header {
    height: 90px;
    width: 100%;

    .button-section {
      height: 100%;
      width: 20%;
      float: left;

      .back-button {
        position: relative;
        top: calc(50% - 18px);
        left: calc(50% - 18px);
        border: none;
        border-radius: 100px;
        width: 36px;
        height: 36px;
        background-color: rgba(255, 255, 255, 0.26);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
        font-size: 22px;
        color: #ffffff;
        padding: 5px 0px 0px 2px;
      }
    }

    .criptext-logo {
      height: 100%;
      width: 80%;
      float: right;

      .icon {
        height: 25px;
        width: 96px;
        float: right;
        position: relative;
        top: 20px;
        right: 20px;
        color: #ffffff;
        background-image: url('./../images/logo-criptext@2x.png');
        background-position: center;
        background-size: 100%;
      }
    }

    .header-clear {
      clear: both;
    }
  }


  .form {
    height: calc(100% - 90px);
    width: 100%;

    .header {
      height: 20%;
      color: #ffffff;
      text-align: center;

      p:nth-child(1) { 
        font-size: 17px;
        font-weight: 600;
        margin: 0px;
      }
      p:nth-child(2) { 
        font-size: 14px;
        margin-top: 10px;
      }
    }

    .signup-form {
      height: 80%;

      form {
        width: 100%;
        height: 100%;
        margin: 0 auto;

        .form-item.hasError {
          .input-data {
            input {
              border-bottom: solid 2px #191a1f;
            }
          }
        }

        .form-item {
          width: 100%;
          height: 36px;

          .checkmark-container {
            .checkmark-checked::after{
              top: 8px;
              left: 4px;
            }
            span:nth-child(2){
              width: calc(100% - 59px - 12px);
              font-size: 10px;
              font-weight: 500;
              color: #ffffff;
              position: relative;
              bottom: -6px;
            }
          }

          .validate-icon-section {
            font-size: 19px;
            float: left;
            height: 100%;
            width: 59px;

            .valid-icon{
              color: #ffffff;
              position: relative;
              top: 0%;
              left: calc(50% - 7px);
            }
            .invalid-icon{
              color: #000000;
              position: relative;
              top: 0%;
              left: calc(50% - 7px);
            }
            .no-icon{
              width: 10%;
            }
          }

          .input-data {
            float: right;
            height: 100%;
            width: calc(100% - 59px);

            input[type='password']{
              font-size: 12px;
              -webkit-text-security: square;
            }

            span.input-icon{
              font-size: 18px;
              color: #ffffff;
              position: relative;
              right: 8%;
            }

            .input-username {
              color: #ffffff;
              font-size: 12px;
              padding-left: 7px;
              padding-bottom: 3px;
              background: transparent;
              width: 39%;
              border: 0px;
              border-bottom: solid 2px rgba(255,255,255,0.19);
              float: left;
            }
            .label-username {
              width: 40%;
              padding-left: 3%;
              float: left;
              font-size: 12px;
              font-weight: 500;
              color: #ffffff;
            }
            .input-fullname, 
            .input-password,
            .input-confirmpassword,
            .input-recoveryemail {
              width: calc(100% - 59px);
              color: #ffffff;
              font-size: 12px;
              text-indent: 7px;
              padding-bottom: 3px;
              background: transparent;
              border: 0px;
              border-bottom: solid 2px rgba(255,255,255,0.19);
            }
            input::placeholder {
              color: #ffffff;
              opacity: 0.6;
            }
            input:-ms-input-placeholder {
              color: #ffffff;
              opacity: 0.6;
            }
            input::-ms-input-placeholder {
              color: #ffffff;
              opacity: 0.6;
            }
            input:focus{
              outline: none;
              border-bottom: solid 2px #ffffff;
            }

            .checkmark-container {
              float: left;
              .checkmark-checked:after {
                position: relative;
                top: -2px;
                left: 2px;
              }
            }
            .label-acceptterms{
              width: 76%;
              float: left;
              font-size: 10px;
              font-weight: 500;
              margin-left: 10px;
              color: #ffffff;
              .strong{
                font-weight: bolder;
              }
            }

            .error-message.error-username {
              float: left;
              font-size: 9px;
              color: #000;
              position: relative;
              bottom: -10%;
              right: 40%
            }
            .error-message.error-password,
            .error-message.error-confirmpassword {
              float: left;
              font-size: 9px;
              color: #000;
              position: relative;
              bottom: -0%;
              left: 0%;
            }
          }

          .clear-item {
            clear: both;
          }
        }

        .form-item:nth-child(5) {
          margin-bottom: 10%;
        }
        .form-item:nth-child(6) {
          margin-bottom: 5%;
        }

        .button {
          width: calc(100% - 118px);
          margin: 0 auto;
          padding: 0px;

          .create-button {
            border: none;
            border-radius: 100px;
            padding: 10px;
            background-color: #373a45;
            opacity: 0.5;
            margin: 0px;
            width: 100%;
            -webkit-transition: width 0.1s;
            transition: opacity 0.1s;

            span {
              color: #fff;
              font-weight: 600;
              opacity: 0.5;
              -webkit-transition: width 0.1s;
              transition: opacity 0.1s;
            }
          }
          .create-button:enabled {
            opacity: 0.9;
            span{
              opacity: 0.9;
            }
          }
          .create-button:hover:enabled {
            opacity: 1.0;
            span{
              opacity: 1.0;
            }
          }
        }

      }
    }
  }
}