@import './../styles/index.scss';

.title-bar {
  height: 30px;
  border-radius: 7px 7px 0px 0px;
  background-color: #00c4ff;
  -webkit-app-region: drag;
  .buttons:hover {
    .close {
      font-size: 14px;
    }
    .close,
    .minimize {
      background-color: rgba(255, 255, 255, 0.9);
    }
    .close:before,
    .minimize:before {
      opacity: 1;
    }
  }
  .close,
  .minimize {
    border-radius: 100%;
    width: 14px;
    height: 14px;
    float: left;
    margin: 7px 0px 7px 7px;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-app-region: no-drag;
  }
  .close:before {
    content: '×';
    position: relative;
    top: 0px;
    left: 3px;
    opacity: 0;
  }
  .minimize:before {
    content: '-';
    position: relative;
    top: -3px;
    left: 4px;
    opacity: 0;
  }
  .bar-clear {
    clear: both;
  }
}
