.signup-form-wrapper {
  margin: 64px 42px 50px 42px;

  .back-button {
    position: fixed;
    top: 56px;
    left: 31px;
    font-size: 24px;
    height: 26px;
    color: #0091ff;
    cursor: pointer;
  }

  .header-container {
    h2 {
      font-size: 21px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .subtitle {
      font-size: 15px;
      height: 30px;
      color: #505050;
      margin-top: 10px;
    }
  }

  .form-container{
    height: 100%;
    display: flex;
    flex-direction: column;

    i {
      color: #9aa1ab;
      font-size: 24px;
      cursor: pointer;
    }
  }

  button {
    margin-top: 29px;
  }
}