@import '../../styles/index.scss';

.signup-form-wrapper {
  margin: 64px 42px 50px 42px;

  .back-button {
    position: fixed;
    top: 56px;
    left: 31px;
    font-size: 24px;
    height: 26px;
    color: #0091ff;
    cursor: pointer;
  }

  .header-container {
    h2 {
      font-size: 21px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .subtitle {
      font-size: 15px;
      height: 30px;
      margin-top: 10px;
    }
  }

  .form-container{
    height: 100%;
    display: flex;
    flex-direction: column;

    i {
      font-size: 24px;
      cursor: pointer;
    }
  }

  button {
    margin-top: 29px;
  }
}

@mixin themable($_THEME, $_SECTION_TITLE_COLOR, $_SECTION_SUBTITLE_COLOR){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .signup-form-wrapper {
      .header-container {
        h2 {
          color: $_SECTION_TITLE_COLOR
        }
    
        .subtitle {
          color: $_SECTION_SUBTITLE_COLOR;
        }
      }
    
      .form-container{
        i {
          color: #9aa1ab;
        }

        span {
          color: $_SECTION_TITLE_COLOR;
        }

        label {
          color: #8a8a8a;

          &.Mui-focused {
            color: #0091ff;
          }
        }
    
        input {
          color: $_SECTION_TITLE_COLOR;
        }
      }
    }
  }
}

@include themable($_THEME_LIGHT, $_SECTION_TITLE_COLOR_LIGHT, $_SECTION_SUBTITLE_COLOR_LIGHT);
@include themable($_THEME_DARK, $_SECTION_TITLE_COLOR_DARK, $_SECTION_SUBTITLE_COLOR_DARK);