
/***

FILE: index.css

TABLE OF CONTENTS

1.- PATHS
2.- THEME

***/

/* 1.- PATHS
   ----------------------------- */
$_PATH_TO_FONTS: "./fonts";
$_PATH_TO_IMAGES: "./images";

/* 2.- THEME
   ----------------------------- */
$_THEME_LIGHT: 'light';
$_THEME_DARK: 'dark';

/* 2.1- THEME LIGHT
   ----------------------------- */
$_BACKGROUND_COLOR_MAIN_LIGHT: white;

/* 2.2- THEME DARK
   ----------------------------- */
$_BACKGROUND_COLOR_MAIN_DARK: #1f2228;