.avatar-letters {
  position: relative;
  align-items: center;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
  }

  span{
    font-weight: 300;
    margin: 0 auto;
  }
}