@import "./../styles/index.scss";

.body-container{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100% - 242px);
  position: relative;
  width: 100%;
}

/* THEME
   ----------------------------- */
@mixin themable($_THEME, $_COLOR_TEXT_BODY){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .body-container{
      color: $_COLOR_TEXT_BODY;
    }
  }
}
  
@include themable($_THEME_LIGHT, $_COLOR_TEXT_BODY_LIGHT);
@include themable($_THEME_DARK, $_COLOR_TEXT_BODY_DARK);