.content-prev-message {
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-left: 1px solid #22b7e8;
}

blockquote {
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 10px;
  border-left: 1px solid #0091ff;
}

.composer-sending-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}

.composer-linking-backdrop {
  background-color: rgba(0, 0, 0, 0.54);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}