.control-container{
  align-items: center;
  background-color: white;
  display: flex;
  height: 60px;
  margin: 0 10px;
  width: calc(100% - 20px);

  >div{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}

button.button-send{
  background-color: #0091ff;
  padding: 0 12px;

  i{
    margin-right: 5px;
  }

  span{
    font-weight: 500;
  }
}

.buttons-container{
  display: flex;
  flex-direction: row;
}

.button-editor{
  padding: 0 10px;

  i{
    color: #6e6e6e;
    font-size: 18px;
  }
}

.button-editor-border-left{
  border-left: 1px solid #e5e2e2;
}

.button-editor-border-right{
  border-right: 1px solid #e5e2e2;
}