@import "./../styles/index.scss";

.dropfilefiled-container{
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  height: calc(100% - 62px);
  justify-content: space-between;
  margin: 0 20px;
  overflow-y: auto;
  position: relative;
  width: calc(100% - 38px);

  &::-webkit-scrollbar-track{
    background-color: rgba(233, 233, 233, 0.76);
    box-shadow: inset 0 0 10px rgba(220,220,220,0.1);
  }
  &::-webkit-scrollbar{
    width: 6.5px;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #b0b2b4;
  }

  input[type=file]{
    display: none;
  }
}

.dragActive{
  border: 2px dashed #0091ff;
  border-radius: 8px;
}

.dropfilefiled-content{
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;

  >div{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 0 auto;
    width: 130px;
    
    >div{
      background-image: url(../#{$_PATH_TO_IMAGES}/upload.png);
      background-position: center;
      background-size: auto 100%;
      background-repeat: no-repeat;
      height: 45px;
      width: 37px;
    }
  
    span{
      color: #4a4a4a;
      font-family: NunitoSans;
      font-size: 18px;
      font-weight: 600;
      margin: 10px auto 0;
      text-align: center;
    }
  }
}

/* THEME
   ----------------------------- */
@mixin themable($_THEME, $_COLOR_TEXT_DROPFILE, $_BACKGROUND_COLOR_DROPFILE){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .dropfilefiled-content{
      background-color: $_BACKGROUND_COLOR_DROPFILE;

      span{
        color: $_COLOR_TEXT_DROPFILE;
      }
    }
  }
}

@include themable($_THEME_LIGHT, $_COLOR_TEXT_DROPFILE_LIGHT, $_BACKGROUND_COLOR_DROPFILE_LIGHT);
@include themable($_THEME_DARK, $_COLOR_TEXT_DROPFILE_DARK, $_BACKGROUND_COLOR_DROPFILE_DARK);