@import "./../styles/index.scss";

.toolbarHidden{
  .trumbowyg-button-pane{
    display: none;
  }
}

.trumbowyg-box{
  border: none;
  flex-grow: 1;
  margin: 0;
  min-height: 50px;
  width: 100%;

  .trumbowyg-button-pane{
    background: #fff;
    border-bottom: none;
    border-radius: 3px;
    bottom: 55px;
    box-shadow: 0 2px 10px 0 rgba(80,80,80,.34);
    position: fixed;
    width: auto;
    z-index: 1;

    &::before{
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      left: 136px;
      bottom: -6px;
      border-top: 6px solid #fff;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }

    &::after{
      content: none;
    }

    .trumbowyg-button-group{
      margin: 5px 0;

      &::before{
        height: 25px !important;
      }

      button{
        border-radius: 2px;
        color: #6e6e6e;
        height: 25px;
        width: 28px;

        &:hover{
          background-color: #f0f0f0;
        }

        &.trumbowyg-open-dropdown{
          width: 35px;

          &:after{
            top: 17px;
          }
        }

        &.trumbowyg-textual-button{
          line-height: 25px;
          width: 52px;

          &::after{
            top: 12px;
          }
        }

        &.trumbowyg-fontsize-button{
          svg{
            background-image: url(../#{$_PATH_TO_IMAGES}/font-size.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
            height: 12px;
          }
        }

        svg{
          fill: #6e6e6e;
        }
      }
    }
  }

  .trumbowyg-textarea{
    display: block;
    flex-grow: 1;
    width: 100%;
  }

  .trumbowyg-editor {
    border-style: none;
    box-sizing: border-box;
    font-family: NunitoSans;
    font-weight: 300;
    height: 100% !important;
    min-height: 50px;
    width: 100%;
    outline: none;
    overflow: auto;
    padding: 0;
    position: absolute;
    resize: none;
    top: 0;
    vertical-align: top;

    p{
      margin-top: 0;
    }
  }

  .trumbowyg-dropdown{
    border: none;
    border-radius: 2px;
    bottom: 36px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.34);
    max-height: 100px;
    overflow: auto;
    top: initial !important;

    &.trumbowyg-dropdown-fontfamily{
      button{
        align-items: center;
        display: flex;
        height: 25px;
  
        span{
          line-height: 15px;
        }
      }
    }

    &.trumbowyg-dropdown-link{
      width: 140px;

      button{
        font-family: NunitoSans;
        font-weight: 300;
      }
    }

    &.trumbowyg-dropdown-backColor, &.trumbowyg-dropdown-foreColor{
      padding: 5px;
      width: 195px;

      button{
        height: 19px;
        padding: 0;
        width: 19px;

        &:hover{
          box-shadow: 1px 2px 1px #bfbdbd;
        }

        &::after{
          content: none;
        }
      }
    }

    button{
      height: 30px;
    }
  }

  .trumbowyg-overlay{
    top: 1px !important;
    height: calc(100% - 30px) !important;
  }

  .trumbowyg-modal{
    max-width: 300px;
    bottom: 40px;
    top: initial !important;

    .trumbowyg-modal-box{
      margin-top: 5px;

      .trumbowyg-modal-title{
        background-color: white;
        border-bottom: none;
        font-family: NunitoSans;
        font-size: 15px;
        margin-bottom: 0;
      }
  
      form{
        label{
          margin: 5px 15px;
  
          &:nth-child(4){
            display: none;
          }
  
          input{
            border: none;
            border-bottom: 1px solid #f1f1f1;
            font-weight: 200;
            font-size: 13px;
            height: 20px;
            padding-bottom: 1px;
            padding-left: 1px;
            width: 85%;
  
            &:focus{
              background-color: white;
              border-bottom: 1px solid #0091ff;
            }

            &[type='color']{
              width: 50%;
            }
          }
  
          .trumbowyg-input-infos{
            height: 20px;
            line-height: 20px;
  
            span{
              background-color: white;
              border: none;
              color: black;
              font-family: NunitoSans;
              font-weight: 500;
              font-size: 14px;
              padding-left: 0;
              width: 118px;
            }
          }
        }
  
        .trumbowyg-modal-button{
          border-radius: 50px;
          font-family: NunitoSans;
          font-size: 12px;
          font-weight: 400;
          height: 30px;
          margin: 0 15px 0 0;
          padding: 0 6px;
          width: 70px;
  
          &.trumbowyg-modal-submit{
            background-color: #0091ff;
            margin: 0;
          }
  
          &.trumbowyg-modal-reset{
            background-color: white;
          }
        }
      }
    }
  }
}