.recipient-container{
  font-family: 'NunitoSans';
  font-size: 15px;
  border-bottom: 1px solid #e8e8e8;
  min-height: 40px;
  position: relative;

  > .recipient-content{
    padding-top: 6px;

    .recipient-tags{
      width: calc(100% - 100px);
    }
  }

  > .recipient-more {
    transition: height linear 130ms;

    &.collapsed{
      height: 0px;
    }

    &.expanded {
      height: 77px;
    }
  }

  .recipient-toggle{
    align-items: center;
    display: flex;
    cursor: pointer;
    height: 41px;
    margin-right: 8px;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    
    i{
      color: #6a707e;
      font-size: 32px;
      margin: 0 auto;
    }
  }
}

.recipient-content{
  align-items: center;
  box-sizing: initial;
  display: flex;
  min-height: 30px;
  padding: 3px 0;
  width: 100%;

  &:nth-child(2){
    padding-bottom: 8px;
  }

  .recipient-input-label {
    box-sizing: initial;
    font-size: 13px;
    font-weight: 200;
    padding-left: 20px;
    width: 4%;
  }

  .recipient-tags{
    height: 100%;
    margin-left: 0px;
    width: calc(100% - 40px);
  
    > span {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
  
      > div {
        display: flex;
        flex-grow: 1;
  
        input{
          border: none;
          color: #6a707e;
          flex-grow: 1;
          font-family: NunitoSans;
          font-size: 12px;
          font-weight: 100;
          height: 20px;
          margin: 2px 0;
        }
  
        input::-webkit-input-placeholder{
          color: #6a707e;
        }
      }
    }
  }
}