@import "./../styles/index.scss";

div.subject-container{
  align-items: center;
  display: flex;
  margin-left: 20px;
  height: 46px;
  width: 100%;

  input{
    background-color: transparent;
    border: none;
    color: black;
    font-family: NunitoSans;
    font-size: 16px;
    font-weight: 600;
    width: calc(100% - 30px);
  }

  input::-webkit-input-placeholder {
    color: #6a707e;
  }
}

/* THEME
   ----------------------------- */
@mixin themable($_THEME, $_COLOR_TEXT_SUBJECT){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .subject-container{
      input{
        color: $_COLOR_TEXT_SUBJECT;
      }
    }
  }
}
  
@include themable($_THEME_LIGHT, $_COLOR_TEXT_SUBJECT_LIGHT);
@include themable($_THEME_DARK, $_COLOR_TEXT_SUBJECT_DARK);