.tag-item{
  align-items: center;
  border-radius: 14px;
  box-sizing: initial;
  color: #4a4a4a;
  display: flex;
  flex-grow: 0;
  font-size: 13px;
  font-weight: 200;
  height: 18px;
  margin: 2px 10px 2px 0;
  padding: 3px 2px 3px 10px;

  &.tag-default{
    background-color: #f4f4f4;
    border: solid 1px #d4d4d4;
  }

  &.tag-error {
    color: #fff;
    font-weight: 500;
    background-color: #e27c7c;
    border: solid 1px #cc0000;

    > .icon-exit {
      color: #b40000;
    }
  }

  &.tag-app-domain{
    background-color: #ebf6ff;
    border: solid 1px #acd8fc;
  }

  a{
    color: #9b9b9b;
    font-size: 22px;
    line-height: 10px;
  }
}
