
/***

FILE: index.css

TABLE OF CONTENTS

1.- PATHS
2.- THEME

***/

/* 1.- PATHS
   ----------------------------- */
$_PATH_TO_FONTS: "./fonts";
$_PATH_TO_IMAGES: "./images";

/* 2.- THEME
   ----------------------------- */
$_THEME_LIGHT: 'light';
$_THEME_DARK: 'dark';

/* 2.1- THEME LIGHT
   ----------------------------- */
$_BACKGROUND_COLOR_MAIN_LIGHT: white;
$_BACKGROUND_COLOR_MAIN_DISABLE_LIGHT: rgba(255, 255, 255, 0.5);
$_BACKGROUND_COLOR_PANEL_LIGHT: white;
$_BACKGROUND_COLOR_PANEL_BUTTON_HOVER_LIGHT: #f0f0f0;
$_BACKGROUND_COLOR_TAG_APP_DOMAIN_LIGHT: #ebf6ff;
$_BACKGROUND_COLOR_TAG_DEFAULT_LIGHT: #f4f4f4;
$_BACKGROUND_COLOR_TAG_ERROR_LIGHT: #e27c7c;
$_BACKGROUND_COLOR_SUGGESTION_ITEM_LIGHT: #fdfdfd;
$_BACKGROUND_COLOR_SUGGESTION_ITEM_HOVER_LIGHT: #f6f6f6;
$_BACKGROUND_COLOR_DROPFILE_LIGHT: rgba(255, 255, 255, 0.85);
$_BACKGROUND_COLOR_ATTACHMENT_LIGHT: #fafafa;
$_BACKGROUND_COLOR_DELETE_ATTACHMENT_LIGHT: white;
$_BORDER_COLOR_SEPARATE_LIGHT: #e8e8e8;
$_BORDER_COLOR_PANEL_SEPARATE_LIGHT: #d7e0e2;
$_BORDER_COLOR_TAG_APP_DOMAIN_LIGHT: #acd8fc;
$_BORDER_COLOR_TAG_DEFAULT_LIGHT: #d4d4d4;
$_BORDER_COLOR_TAG_ERROR_LIGHT: #cc0000;
$_BORDER_COLOR_SUGGESTION_LIGHT: #ececee;
$_BORDER_COLOR_ATTACHMENT_LIGHT: #D8D8D8;
$_BORDER_COLOR_DELETE_ATTACHMENT_LIGHT: #cdcdcd;
$_COLOR_ICON_BUTTON_LIGHT: #6e6e6e;
$_COLOR_ICON_TAG_APP_DOMAIN_LIGHT: #9b9b9b;
$_COLOR_ICON_TAG_DEFAULT_LIGHT: #9b9b9b;
$_COLOR_ICON_TAG_ERROR_LIGHT: #b40000;
$_COLOR_TEXT_RECIPIENT_LABEL_LIGHT: black;
$_COLOR_TEXT_RECIPIENT_INPUT_LIGHT: #6a707e;
$_COLOR_TEXT_SUBJECT_LIGHT: black;
$_COLOR_TEXT_BODY_LIGHT: black;
$_COLOR_TEXT_PANEL_LIGHT: #6e6e6e;
$_COLOR_TEXT_TAG_LIGHT: #4a4a4a;
$_COLOR_TEXT_TAG_APP_DOMAIN_LIGHT: #4a4a4a;
$_COLOR_TEXT_SUGGESTION_LIGHT: #6a707e;
$_COLOR_TEXT_DROPFILE_LIGHT: #4a4a4a;
$_COLOR_TEXT_DELETE_ATTACHMENT_LIGHT: black;

/* 2.2- THEME DARK
   ----------------------------- */
$_BACKGROUND_COLOR_MAIN_DARK: #1f2228;
$_BACKGROUND_COLOR_MAIN_DISABLE_DARK: rgba(0, 0, 0, 0.5);
$_BACKGROUND_COLOR_PANEL_DARK: #535762;
$_BACKGROUND_COLOR_PANEL_BUTTON_HOVER_DARK: #707481;
$_BACKGROUND_COLOR_TAG_APP_DOMAIN_DARK: #002b57;
$_BACKGROUND_COLOR_TAG_DEFAULT_DARK: #34363c;
$_BACKGROUND_COLOR_TAG_ERROR_DARK: #a73d42;
$_BACKGROUND_COLOR_SUGGESTION_ITEM_DARK: #535762;
$_BACKGROUND_COLOR_SUGGESTION_ITEM_HOVER_DARK: #707481;
$_BACKGROUND_COLOR_DROPFILE_DARK: rgba(76, 79, 84, 0.6);
$_BACKGROUND_COLOR_ATTACHMENT_DARK: #535762;
$_BACKGROUND_COLOR_DELETE_ATTACHMENT_DARK: #9698a2;
$_BORDER_COLOR_SEPARATE_DARK: #3a3d41;
$_BORDER_COLOR_PANEL_SEPARATE_DARK: #3a3d41;
$_BORDER_COLOR_TAG_APP_DOMAIN_DARK: #002b57;
$_BORDER_COLOR_TAG_DEFAULT_DARK: #34363c;
$_BORDER_COLOR_TAG_ERROR_DARK: #a73d42;
$_BORDER_COLOR_SUGGESTION_DARK: transparent;
$_BORDER_COLOR_ATTACHMENT_DARK: #313339;
$_BORDER_COLOR_DELETE_ATTACHMENT_DARK: #808188;
$_COLOR_ICON_BUTTON_DARK: #e9e9e9;
$_COLOR_ICON_TAG_APP_DOMAIN_DARK: #4e79a5;
$_COLOR_ICON_TAG_DEFAULT_DARK: #9b9b9b;
$_COLOR_ICON_TAG_ERROR_DARK: #6a1519;
$_COLOR_TEXT_RECIPIENT_LABEL_DARK: white;
$_COLOR_TEXT_RECIPIENT_INPUT_DARK: white;
$_COLOR_TEXT_SUBJECT_DARK: white;
$_COLOR_TEXT_BODY_DARK: white;
$_COLOR_TEXT_PANEL_DARK: #dddcdc;
$_COLOR_TEXT_TAG_DARK: white;
$_COLOR_TEXT_TAG_APP_DOMAIN_DARK: #a3d1f4;
$_COLOR_TEXT_SUGGESTION_DARK: white;
$_COLOR_TEXT_DROPFILE_DARK: white;
$_COLOR_TEXT_DELETE_ATTACHMENT_DARK: white;