@import "./../styles/index.scss";

aside.navigation-feed{
  font-family: 'NunitoSans';
  font-size: 0.9em;
  display: inline-table;
  width: 288px;
  overflow: hidden;

  header{
    background-color: #f7f7f8;
    height: $_HEIGHT_HEADER;

    .header-content {
      margin: 0%;

      .feed-header-icon {
        height: $_HEIGHT_HEADER;
        width: 20%;
        margin: 0%;
        float: left;
        font-size: 20px;
        text-align: center;

        i {
          position: relative;
          top: calc(50% - 12px);
          color: #000000;
        }

        .badge {
          right: -10px;
        }

        .badge[data-badge]:after {
          text-align: center;
          width:18px;height:18px;
          line-height: 2rem;
          border-radius: 50%;
          font-weight: bold;
          content: attr(data-badge);
          background: #ff3366;
          color: white;
          border: solid 2px #f7f7f8;
          position: relative;
          top: -10px;
          right: 10px;
        }
        .small-badge[data-badge]:after {
           font-size: 13px;
           padding: 1px 5px 2px 5px;
        }
        .big-badge[data-badge]:after {
           font-size: 13px;
           padding: 2px;
        }
        .very-big-badge[data-badge]:after {
           font-size: 11px;
           padding: 4px 1px 4px 1px;
        }
      }

      .header-title {
        font-size: 13px;
        padding-top: 23px;
        height: 20px;
        margin: 0%;
        float: left;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }

      .header-button {
        margin: 0%;
        width: 25%;
        height: $_HEIGHT_HEADER;
        background-color: #0091ff;
        float: right;
        text-align: center;
        font-size: 20px;

        i {
          position:relative;
          top: calc(50% - 12px);
          color: #000000;
        }
      }

      .header-clear {
        clear: both;
      }
    }
  }


  nav {
    overflow: auto;

    hr {
      margin: 0px 0px 0px 10px;
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .new-feeds{
      padding-left: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      list-style-type: none;

      .feed-section-title {
        .text{
          width: 30px;
          height: 16px;
          font-size: 12px;
          color: #8a9dad;
          padding-left: 33px;
          padding-top: 12px;
          margin: 0% 0% 2% 0%;
        }
      }
      
      .feed-item {
        height: 55px;
        padding-bottom: 0px;
        margin-bottom: 2px;

        .feed-content {
          margin: 0%;
          padding: 0%;
          height: 100%;

          .feed-icon {
            margin: 0%;
            width: 19%;
            height: 100%;
            float: left;
            text-align: center;

            i {
              position:relative;
              top: calc(50% - 8px);
              width: 16px;
              height: 16px;
              color: #d4d4d4;
            }
          }

          .feed-data {
            width: 81%;
            padding: 12px 0px 10px 0px;
            margin: 0%;
            float: right;
            text-align: left;
            color: #000000;

            .feed-title {
              height: 16px;
              font-size: 12px;
              white-space: nowrap; 
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .feed-subject {
              color: #9b9b9b;
              float: left;
              margin: 0%;
              width: 70%;
              font-size: 12px;
              white-space: nowrap; 
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .feed-time {
              font-size: 10px;
              margin: 0px 26px 0px 0px;
              padding-top: 2px;
              width: 40px;
              height: 14px;
              text-align: left;
              float: right;
            }

            .feed-clear {
              clear: both;
            }
          }

          .feed-clear {
            clear: both;
          }

        }

      }

      .unread-feed {
        background-color: #f2f8ff;
        .feed-content {
          .feed-icon {
            i {
              color: #000;
            }
          }
          .feed-data {
            .feed-title {
              font-weight: bold;
            }
            .feed-time {
              font-weight: bold;
              font-style: normal;
            }
          }
        }
      }


    }

  }
  
}