@import "./../styles/index.scss";

.mailbox-header{
  background-color: #373a45;
  display: flex;
  padding: 0px 35px;
  align-items: center;
  justify-content: space-between;
  height: $_HEIGHT_HEADER;
  font-family: 'NunitoSans';

  > div{
    display: flex;
    align-items: center;
    color: #8d9095;
    font-size: 14px;
  }
}