@import "./../styles/index.scss";

.mailbox-container{
  width: 100%;

  header{
    background-color: #373a45;
    height: $_HEIGHT_HEADER;
  }
}

.email-container{
  background-color: white;
  height: 70px;
  width: 100%;
}