@import "./../styles/index.scss";

.email-container{
  align-items: center;
  background-color: white;
  border-radius: 4px;
  display: flex;
  font-family: NunitoSans;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
}

.email-container-collapse{
  border: 1px solid #ddd;
  height: 45px;
  width: calc(100% - 2px);

  span{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.email-from{
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
  width: 180px;
}

.email-preview-content{
  flex-grow: 1;
  font-size: 13px;
  margin-left: 5px;
}

.email-date{
  font-size: 13px;
  margin-right: 20px;
  text-align: right;
  width: 70px;
}

.email-container-expand{
  box-shadow: 0px 5px 20px 1px rgba(100,100,100,0.2);
  height: auto;
  flex-direction: column;

  > div{
    margin: 10px;
    width: calc(100% - 20px);
  }
}

.email-info{
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;

  > div{
    margin: 10px;
  }
}

.email-icon-letter{
  align-items: center;
  background-color: blueviolet;
  border-radius: 50%;
  display: flex;
  height: 40px;
  width: 40px;

  span{
    color: white;
    margin: 0 auto;
  }
}

.email-header-info{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  position: relative;

  span{
    width: 100%;
  }
}

.email-detail-info{
  align-items: flex-end;
  display: flex;

  span{
    margin-right: 10px;
  }

  i{
    color: #bbb;
    margin: 5px;

  }
}

.email-options{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  
  div{
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 50%;;
    display: flex;
    height: 30px;
    width: 30px;
    margin: 0 5px;

    i{
      color: #ddd;
      font-size: 20px;
      margin: 0 auto;
    }
  }
}

.button-unsend{
  background-color: red;
  margin-left: 5px;
  width: 100px;

  i{
    left: -2px;
    margin-right: 2px;
  }
}