@import "./../styles/index.scss";

.mailbox-header{
  background-color: #373a45;
  display: flex;
  padding: 0px 35px;
  align-items: center;
  justify-content: space-between;
  height: $_HEIGHT_HEADER;

  > div{
    display: flex;
    align-items: center;
    color: #8d9095;
    font-size: 12px;
  }
}

.header-search{
  width: 191px;
  height: 29.2px;
  border-radius: 100px;
  background-color: #1f242d;
  justify-content: space-around;
  align-items: center;

  input{
    border: none;
    background: none;
    padding: 5px;
    outline: none;
    flex: 1 0;
    width: 0;
    color: white;
  }
  
  i{
    font-size: 20px;
    margin: 0 10px;
    color: white;
  }
}

.header-profile{
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(74, 108, 98, 0.96);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.header-action{
  display: flex;

  > div {
    color: #ffffff;
    margin: 0 5px;
    width: 31px;
    height: 31px;
    background-color: rgba(247, 247, 248, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(148, 148, 148, 0);
    cursor: pointer;

    i{
      opacity: 0.4;
    }

    &:hover{
      border: solid 1px rgba(176, 178, 180, 0.5);
    }
  }
}