@import "./baseheader.scss";

.menu-select-all{
  background-color: #0091ff !important;
  border-color: #0091ff !important;

  > i{
    color: white;
    opacity: 1 !important;
  }
}

.header-action{
  display: flex;

  > div {
    color: #ffffff;
    margin: 0 5px;
    width: 29px;
    height: 29px;
    background-color: rgba(247, 247, 248, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(148, 148, 148, 0);
    cursor: pointer;

    i{
      opacity: 0.4;
    }

    &:hover{
      border: solid 1px rgba(176, 178, 180, 0.5);
    }
  }

  .labels-tooltip{
    background-color: #e1e1e1 !important;
    color: black !important;
    font-weight: normal;
    font-size: 10.5px !important;
    border-radius: 3px !important;
    padding: 4px 16px !important;


    .tooltip-tip{
      &:after{
        background-color: #e1e1e1;
      }
    }
  }
}

.multiselect-list{
  max-height: 300px;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li{
    padding: 7px 16px;
    
    &:hover{
      background-color: #edf5ff;
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar { 
      display: none; 
  }

  .checkmark-container{
    margin-left: 31px;
  }
}