@import "./../styles/index.scss";

aside.navigation-app{
  display: inline-table;
  height: 100%;
  width: 210px;

  header{
    align-items: center;
    display: flex;
    height: $_HEIGHT_HEADER;
  }
}

.header-icon{
  align-items: center;
  background-image: url(#{$_PATH_TO_IMAGES}/header-icon.png);
  background-position: center;
  background-size: 100%;
  height: 33px;
  margin: 0 auto;
  width: 135px;
}

.navigation-partial-mail{
  border-right: solid 1px #d8d8d8;
  border-top: solid 1px #d8d8d8;
  display: flex;
  height: calc(100% - 61px);
  flex-direction: column;
  overflow: auto;
  width: calc(100% - 1px);

  nav ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      text-align: center;

      a {
        color: black;
        display: block;
        font-family: NunitoSans;
        font-size: 13px;
        margin-left: 15px;
        text-align: left;
        text-decoration: none;
        width: calc(100% - 131px);
      }
    }
  }
}

.nav-item-free{
  text-align: center;
  width: 100%;
}

button{
  border: none;
}

.button-compose{
  background-color: #0091ff;
  border-radius: 100px;
  color: white;
  height: 31px;
  margin: 15px 0;
  text-transform: uppercase;
  width: 141px;

  i{
    font-size: 18px;
    left: -8px;
    margin-right: 10px;
    position: relative;
    top: 2px;
  }

  span{
    font-family: NunitoSans;
    font-size: 13px;
    font-weight: 800;
    position: relative;
    top: -1px;
  }
}


.nav-item-more{
  height: auto;
  flex-direction: column;

  .nav-item-container{
    align-items: center;
    display: flex;
    height: 37px;
    width: 100%;
  }

  ul{
    max-height: 75px;
    overflow: auto;
    width: 100%;
  }
}

.nav-item-collapse{
  height: 75px;
}

.line-separator{
  border-top: solid 1px #d8d8d8;
  left: 30px;
  height: 1px;
  position: absolute;
  top: 0;
  width: 144px;
}

.nav-item-option{
  color: #d8d8d8;
  font-size: 10px;
}

.nav-item-label{
  align-items: center;
  height: 25px;
  width: 100%;

  div{
    background: #7ed321;
    border-radius: 3px;
    margin: 0 12px 0 55px;
    height: 6px;
    width: 6px;
  }

  span{
    font-family: NunitoSans;
    font-size: 13px;
  }
}