@import "./../styles/index.scss";

aside.navigation-app{
  display: inline-table;
  width: 210px;

  header{
    align-items: center;
    display: flex;
    height: $_HEIGHT_HEADER;
  }
}

.header-icon{
  align-items: center;
  background-image: url(#{$_PATH_TO_IMAGES}/header-icon.png);
  background-position: center;
  background-size: 100%;
  height: 33px;
  margin: 0 auto;
  width: 135px;
}

.navigation-partial-mail{
  border-right: solid 1px #d8d8d8;
  border-top: solid 1px #d8d8d8;
  width: calc(100% - 1px);

  nav ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      text-align: center;

      a {
        color: black;
        display: block;
        margin: 0 20px;
        text-align: left;
        text-decoration: none;
        width: calc(100% - 115px);
      }
    }
  }
}

.nav-item-free{
  text-align: center;
  width: 100%;
}

button{
  border: none;
}

.button-compose{
  background-color: #0091ff;
  border-radius: 100px;
  color: white;
  font-family: 'NunitoSans-800';
  font-size: 12px;
  font-weight: bold;
  height: 31px;
  margin: 15px 0;
  text-transform: uppercase;
  width: 141px;
}

.nav-item{
  align-items: center;
  display: flex;
  height: 37px;
  width: 100%;
}

.nav-item-selected{
  background-color: #f2f8ff;
}

.nav-item-icon{
  height: 15px;
  margin-right: 10px;
  width: 15px;
}

.nav-notif{
  background-color: #65bdff;
  border-radius: 13px;
  height: 17px;
  width: 26px;

  span {
    color: white;
    font-size: 11px;
  }
}

.nav-item-expand{
  border-top: 0.5px solid #d8d8d8;
}