.neutral-highlight{
  color: #0091ff;
}

.error-highlight{
  color: #fe5e82;
}

.mailbox-container{
  height: 100%;
  padding: 0 21px;
  font-family: 'nunito';
  background-color: #f7f7f8;
}

.threads-info-header{
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: space-between;
  padding: 0 19px;
}

.threads-container{
  height: calc(100% - 44px);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(163,163,163,0.43);
  -moz-box-shadow: 0px 0px 15px 0px rgba(163,163,163,0.43);
  box-shadow: 0px 0px 15px 0px rgba(163,163,163,0.43);
}

.thread-container{
  width: calc(100% - 10px);
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  padding: 5px;
  align-items: center;
  font-size: 12px;
  height: 36px;
  position: relative;
}

.thread-selected, .thread-selected:hover{
  color: white;
  background-color: rgb(62, 107, 255);
}

.thread-read{
  color: black;
  background-color: rgb(247, 247, 248);   
}

.thread-unread{
  color: black;
  background-color: white;
  font-weight: bold;
}

.thread-container > div {
  padding: 2px;
  display: flex;
  justify-content: space-between
}

.thread-container i{
  font-size: 15px;
  vertical-align: text-top;
}

.thread-icons{
  display: flex;
}

.thread-letters{
  padding: 5px;
  border-radius: 50%;
  color: white;
  width: 11px;
  height: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  font-weight: normal;
}

.thread-container > div:nth-child(1){
  padding: 0 13px 0 19px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.thread-container > div:nth-child(2){
  width: 150px;
  flex-shrink: 0;
}

.thread-container > div:nth-child(3){
  padding: 0 5px;  
  color: #b8b9bd;
  width: 15px;
  flex-shrink: 0;
}

.thread-container > div:nth-child(3) > i{
  font-size: 12px;
}

.thread-container > div:nth-child(4){
  flex: 1 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  min-width: 250px;
}

.thread-label{
  display: flex;
  font-size: 10px;
  margin-right: 8px;
}

.thread-label > div:nth-child(1){
  padding: 3px 4px;
  background-color: #ffbb63;
  border-radius: 10px;
  color: white;
  font-weight: normal;
  max-width: 92px;
  position: relative;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 900;
}

.thread-label > div:nth-child(2){
  padding: 3px;
  margin-left: 4px;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  color: rgb(0, 0, 0);
  background-color: #e5e5e6;
  color: #6a707e;
  font-weight: 600;
}

.thread-subject{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thread-preview span{
  white-space: pre;
}

.thread-preview{
  color: #6a707e;
  flex: 1 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
} 

.thread-container > div:nth-child(5){
  width: 50px;
  color: #d5d5d5;
  flex-shrink: 0;
  padding: 0 5px;
}

.thread-container > div:nth-child(5) > div{
  width: 15px;
}

.thread-container > div:nth-child(6){
  color: #6a707e;
  width: 80px;
  flex-shrink: 0;
  justify-content: center;
}

.thread-container > div:nth-child(7){
  display: none;
  padding: 0 5px;
  color: #d5d5d5;
}

.thread-container:hover > div:nth-child(7){
  display: block;
  padding-right: 15px;
}

.thread-menu{
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 150px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(163,163,163,0.43);
  -moz-box-shadow: 0px 0px 15px 0px rgba(163,163,163,0.43);
  box-shadow: 0px 0px 15px 0px rgba(163,163,163,0.43);
}

.thread-menu > ul {
  list-style-type: none;
  padding: 0px;
}

.thread-menu li {
  padding: 10px;
  padding-left: 30px;
  font-weight: normal;
  color: black;
}

.thread-menu li:hover {
  background-color: #d5d5d5;
}

.thread-overlay{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}