.tooltip-menu-container{
  position: absolute;
}

.tooltip-menu-wrapper{
  width: 204px;
  height: 109.7px;
  background-color: #fdfdfd;
  box-shadow: 1px 7px 19px 0 rgba(0, 0, 0, 0.14);
  border: solid 0.5px #ececee;
  color: black;
  position: fixed;
  top: 60px;
  left: 601px;
  z-index: 200;
  border-radius: 2px;
  z-index: 10;

  h3{
    padding: 0px 14px;
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
  }

  li{
    padding: 7px 16px;
    
    &:hover{
      background-color: #edf5ff;
      cursor: pointer;
    }
  }

  .tooltip-menu-tip{
    width: 40px;
    height: 11px;
    position: absolute;
    top: 0;
    left: 7%;
    transform: translateX(-50%) translateY(-100%);
    overflow: hidden;
  
    &:after{
      content: "";
      height: 15px;
      width: 15px;
      left: 50%;
      background-color: white;
      transform: translateX(-50%) translateY(60%) rotate(45deg);
      box-shadow: 0 0 5px 0 rgba(0, 0, 3, 0.13);
      position: absolute;
    }
  }

}

.tooltip-menu-overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}