/***

FILE: index.css

TABLE OF CONTENTS

1.- PATHS
2.- SIZES

***/
/* 1.- PATHS
   ----------------------------- */
/* 2.- SIZES
   ----------------------------- */
aside.navigation-feed {
  font-family: 'NunitoSans';
  font-size: 0.9em;
  display: inline-table;
  width: 288px;
  overflow: hidden; }
  aside.navigation-feed header {
    background-color: #f7f7f8;
    height: 61px; }
    aside.navigation-feed header .header-content {
      margin: 0%; }
      aside.navigation-feed header .header-content .feed-header-icon {
        height: 61px;
        width: 20%;
        margin: 0%;
        float: left;
        font-size: 20px;
        text-align: center; }
        aside.navigation-feed header .header-content .feed-header-icon i {
          position: relative;
          top: calc(50% - 11px);
          color: #000000; }
        aside.navigation-feed header .header-content .feed-header-icon .badge {
          right: -10px; }
        aside.navigation-feed header .header-content .feed-header-icon .badge[data-badge]:after {
          text-align: center;
          width: 18px;
          height: 18px;
          line-height: 2rem;
          border-radius: 50%;
          font-weight: bold;
          content: attr(data-badge);
          background: #ff3366;
          color: white;
          border: solid 2px #f7f7f8;
          position: relative;
          top: -10px;
          right: 10px; }
        aside.navigation-feed header .header-content .feed-header-icon .small-badge[data-badge]:after {
          font-size: 13px;
          padding: 1px 5px 2px 5px; }
        aside.navigation-feed header .header-content .feed-header-icon .medium-badge[data-badge]:after {
          font-size: 13px;
          padding: 2px; }
        aside.navigation-feed header .header-content .feed-header-icon .large-badge[data-badge]:after {
          font-size: 11px;
          padding: 4px 1px 4px 1px; }
      aside.navigation-feed header .header-content .header-title {
        font-size: 13px;
        padding-top: 23px;
        height: 20px;
        margin: 0%;
        float: left;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000; }
      aside.navigation-feed header .header-content .header-button {
        margin: 0%;
        width: 25%;
        height: 61px;
        background-color: #0091ff;
        float: right;
        text-align: center;
        font-size: 24px; }
        aside.navigation-feed header .header-content .header-button i {
          position: relative;
          top: calc(50% - 13px);
          color: #000000; }
      aside.navigation-feed header .header-content .header-clear {
        clear: both; }
  aside.navigation-feed nav {
    overflow: auto; }
    aside.navigation-feed nav hr {
      margin: 0px 0px 0px 10px;
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    aside.navigation-feed nav .new-feeds {
      padding-left: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      list-style-type: none; }
      aside.navigation-feed nav .new-feeds .feed-section-title .text {
        width: 30px;
        height: 16px;
        font-size: 12px;
        color: #8a9dad;
        padding-left: 33px;
        padding-top: 12px;
        margin: 0% 0% 2% 0%; }
      aside.navigation-feed nav .new-feeds .feed-item {
        height: 55px;
        padding-bottom: 0px;
        margin-bottom: 2px; }
        aside.navigation-feed nav .new-feeds .feed-item .feed-content {
          margin: 0%;
          padding: 0%;
          height: 100%; }
          aside.navigation-feed nav .new-feeds .feed-item .feed-content .feed-icon {
            margin: 0%;
            width: 19%;
            height: 100%;
            float: left;
            text-align: center;
            font-size: 18px; }
            aside.navigation-feed nav .new-feeds .feed-item .feed-content .feed-icon i {
              position: relative;
              top: calc(50% - 9px);
              color: #d4d4d4; }
          aside.navigation-feed nav .new-feeds .feed-item .feed-content .feed-data {
            width: 81%;
            padding: 12px 0px 10px 0px;
            margin: 0%;
            float: right;
            text-align: left;
            color: #000000; }
            aside.navigation-feed nav .new-feeds .feed-item .feed-content .feed-data .feed-title {
              height: 16px;
              font-size: 12px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; }
            aside.navigation-feed nav .new-feeds .feed-item .feed-content .feed-data .feed-subject {
              color: #9b9b9b;
              float: left;
              margin: 0%;
              width: 70%;
              font-size: 12px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; }
            aside.navigation-feed nav .new-feeds .feed-item .feed-content .feed-data .feed-time {
              font-size: 10px;
              margin: 0px 26px 0px 0px;
              padding-top: 2px;
              width: 40px;
              height: 14px;
              text-align: left;
              float: right; }
            aside.navigation-feed nav .new-feeds .feed-item .feed-content .feed-data .feed-clear {
              clear: both; }
          aside.navigation-feed nav .new-feeds .feed-item .feed-content .feed-clear {
            clear: both; }
      aside.navigation-feed nav .new-feeds .unread-feed {
        background-color: #f2f8ff; }
        aside.navigation-feed nav .new-feeds .unread-feed .feed-content .feed-icon i {
          color: #000; }
        aside.navigation-feed nav .new-feeds .unread-feed .feed-content .feed-data .feed-title {
          font-weight: bold; }
        aside.navigation-feed nav .new-feeds .unread-feed .feed-content .feed-data .feed-time {
          font-weight: bold;
          font-style: normal; }
