@import "./../styles/index.scss";

.navigation-feed-expand .navigation-feed-container{
  transition: width $_DURATION_NAVIGATION_FEED_EXPAND linear $_DELAY_NAVIGATION_FEED_EXPAND;
  width: 288px;
}

.navigation-feed-collapse .navigation-feed-container{
  transition: width $_DURATION_NAVIGATION_FEED_COLLAPSE linear;
  width: 0;
}

aside.navigation-feed-container{
  bottom: 0px;
  display: inline-table;
  font-size: 0.9em;
  height: 100%;
  overflow: hidden;
  position: relative;
  top: 0px;

  header{
    background-color: #373a45;
    height: $_HEIGHT_HEADER;
    width: 288px;

    .header-content {
      cursor: pointer;
      margin: 0%;

      .feed-header-icon {
        height: $_HEIGHT_HEADER;
        width: 20%;
        margin: 0%;
        float: left;
        font-size: 24px;
        text-align: center;

        i {
          position: relative;
          top: calc(50% - 13px);
          color: white;
        }

        .badge {
          right: -10px;
        }

        .badge[data-badge]:after {
          text-align: center;
          width:18px;height:18px;
          line-height: 2rem;
          border-radius: 50%;
          font-weight: bold;
          content: attr(data-badge);
          background: #ff3366;
          color: white;
          border: solid 2px #f7f7f8;
          position: relative;
          top: -10px;
          right: 10px;
        }
        .small-badge[data-badge]:after {
           font-size: 13px;
           padding: 1px 5px 2px 5px;
        }
        .medium-badge[data-badge]:after {
           font-size: 13px;
           padding: 2px;
        }
        .large-badge[data-badge]:after {
           font-size: 11px;
           padding: 4px 1px 4px 1px;
        }
      }

      .header-title {
        color: white;
        float: left;
        font-size: 13px;
        font-weight: 700;
        height: 20px;
        margin: 0%;
        padding-top: 23px;
        text-align: left;
        text-transform: uppercase;
      }
    }
  }
}

.navigation-feed-content::-webkit-scrollbar-track{
  background-color: rgba(233, 233, 233, 0.76);
  box-shadow: inset 0 0 10px rgba(220,220,220,0.1);
}
.navigation-feed-content::-webkit-scrollbar{
  width: 6.5px;
}
.navigation-feed-content::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #b0b2b4;
}

.navigation-feed-content {
  overflow: auto;
  height: calc(100% - 60px);
  position: relative;
  width: 288px;

  .empty-activity-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .empty-content {
      margin: auto;
      align-items: center;

      .empty-icon {
        width: 70px;
        height: 70px;
        margin: 0 auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-image: url(../#{$_PATH_TO_IMAGES}/icon-notification.svg);
      }

      .header-text {
        font-size: 14px;
        text-align: center;
        margin-top: 15px;
      }
  
      .subheader-text {
        font-size: 14px;
        font-style: italic;
        text-align: center;
        color: #9b9b9b;
      }
    }
  }

  .new-feeds{
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    list-style-type: none;

    .feed-section-title {
      .text{
        color: #8a9dad;
        height: 16px;
        font-size: 12px;
        margin: 0% 0% 2% 0%;
        padding-left: 33px;
        padding-top: 12px;
        text-transform: uppercase;
        width: 30px;
      }
    }

    @keyframes fadeInRight {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0);
      }
    } 

    .deleted-feed {
      height: 55px;
      padding: 0%;
      margin: 0%;
      background-color: #dc4d48;
      color: #ffffff;
      animation-name: fadeInRight;
      animation-duration: 300ms;

      .deleted-feed-icon {
        margin: 0%;
        width: 19%;
        height: 100%;
        float: left;
        text-align: center;
        font-size: 18px;
        color: #ffffff;

        i {
          position:relative;
          top: calc(50% - 9px);
        }
      }

      .deleted-feed-content {
        height: 100%;
        width: 81%;
        padding: 0%;
        margin: 0%;
        text-align: left;
        line-height: 100%;
        font-weight: 600;
        float: right;

        span {
          position: relative;
          top: 38%;
        }
      }

    }
    
    .feed-item {
      height: 55px;
      padding-bottom: 0px;
      margin-bottom: 2px;

      .feed-content {
        margin: 0%;
        padding: 0%;
        height: 100%;

        .feed-icon {
          margin: 0%;
          width: 19%;
          height: 100%;
          float: left;
          text-align: center;
          font-size: 18px;

          i {
            position:relative;
            top: calc(50% - 9px);
            color: #0091ff;
          }
        }

        .feed-data {
          height: 100%;
          width: 72%;
          padding: 0%;
          margin: 0% 9% 0% 0%;
          float: right;
          text-align: left;
          color: #000000;

          .feed-preview {
            width: 75%;
            height: 31px;
            padding: 12px 0px 12px 0px;
            margin: 0%;
            float: left;

            .feed-title {
              width: 100%;
              height: 16px;
              font-size: 12px;
              white-space: nowrap; 
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .feed-subject {
              width: 95%;
              color: #9b9b9b;
              float: left;
              margin: 0%;
              font-size: 12px;
              white-space: nowrap; 
              overflow: hidden;
              text-overflow: ellipsis;

              span {
                width: 100%;
              }
            }
          }

          .feed-actions-time {
            width: 25%;
            height: 31px;
            padding: 12px 0px 12px 0px;
            margin: 0%;
            float: left;
            text-align: right;
            color: #dcdde0;

            .feed-time {
              width: 100%;
              font-size: 10px;
              position: relative;
              bottom: -20px;
            }

            .feed-actions {
              height: 100%;
              width: 100%;

              .feed-mute {
                font-size: 18px;
                height: 50%;
                i {
                  position: relative;
                  top: -3px;
                }
                i:hover {
                  color: #c2c2c2;
                }
              }

              .feed-delete {
                height: 50%;
                i {
                  position: relative;
                  right: 2px;
                  bottom: -3px;
                }
                i:hover {
                  color: #c2c2c2;
                }
              }

            }
          }
        }

        .feed-clear {
          clear: both;
        }
      }
    }

    .unread-feed {
      .feed-content {
        .feed-icon {
          i {
            color: #0091ff;
          }
        }
        .feed-data {
          .feed-preview {
            .feed-title {
               font-weight: bold;
             }
           }
          .feed-actions-time {
            .feed-time {
              font-weight: bold;
              font-style: normal;
            }
          }
        }
      }
    }
  }
}

/* THEME
   ----------------------------- */
@mixin themable($_THEME, $_BACKGROUND_COLOR_ACTIVITY, $_BACKGROUND_COLOR_ACTIVITY_ITEM_UNREAD, $_COLOR_TEXT_ACTIVITY_ITEM_TITLE, $_COLOR_TEXT_CONTAINER_EMPTY_TITLE){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .navigation-feed-content{
      background-color: $_BACKGROUND_COLOR_ACTIVITY;

      .empty-activity-container {
        .empty-content {
          .header-text {
            color: $_COLOR_TEXT_CONTAINER_EMPTY_TITLE;
          }
        }
      }

      .feed-item {
        .feed-content {
          .feed-data {
            .feed-preview {
              .feed-title {
                color: $_COLOR_TEXT_ACTIVITY_ITEM_TITLE;
              }
            }
          }
        }
      }

      .new-feeds{
        .unread-feed {
          background-color: $_BACKGROUND_COLOR_ACTIVITY_ITEM_UNREAD;
        }
      }
    }
  }
}
  
@include themable($_THEME_LIGHT, $_BACKGROUND_COLOR_ACTIVITY_LIGHT, $_BACKGROUND_COLOR_ACTIVITY_ITEM_UNREAD_LIGHT, $_COLOR_TEXT_ACTIVITY_ITEM_TITLE_LIGHT, $_COLOR_TEXT_CONTAINER_EMPTY_TITLE_LIGHT);
@include themable($_THEME_DARK, $_BACKGROUND_COLOR_ACTIVITY_DARK, $_BACKGROUND_COLOR_ACTIVITY_ITEM_UNREAD_DARK, $_COLOR_TEXT_ACTIVITY_ITEM_TITLE_DARK, $_COLOR_TEXT_CONTAINER_EMPTY_TITLE_DARK);