.navigation-feed-expand .activity-panel-shortcut-container{
  width: 0;
  opacity: 0;
  transform: translateX(61px);
  transition: transform 500ms linear, opacity 500ms linear, width 500ms linear;
}

.activity-panel-shortcut-container{
  align-items: center;
  background-color: #0091ff;
  cursor: pointer;
  display: flex;
  height: 61px;
  opacity: 1;
  position: relative;
  transition: width 250ms linear 300ms, opacity 250ms linear 300ms;
  width: 61px;
}

.activity-panel-shortcut-content{
  align-items: center;
  background-color: #0091ff;
  display: flex;
  height: 100%;
  position: relative;
  width: 61px;

  &:before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    left: -8px;
    top: 24px;
    border-right: 8px solid #0091ff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }

  i{
    color: white;
    font-size: 25px;
    margin: 0 auto;
  }
}