@import "./../styles/index.scss";

aside.navigation-feed{
  font-family: 'NunitoSans';
  font-size: 0.9em;
  overflow: hidden;
  width: 288px;
  display: inline-table;
  height: 100%;
  position: relative;
  top: 0px;
  bottom: 0px;

  header{
    background-color: #f7f7f8;
    height: $_HEIGHT_HEADER;

    .header-content {
      margin: 0%;

      .feed-header-icon {
        height: $_HEIGHT_HEADER;
        width: 20%;
        margin: 0%;
        float: left;
        font-size: 24px;
        text-align: center;

        i {
          position: relative;
          top: calc(50% - 13px);
          color: #000000;
        }

        .badge {
          right: -10px;
        }

        .badge[data-badge]:after {
          text-align: center;
          width:18px;height:18px;
          line-height: 2rem;
          border-radius: 50%;
          font-weight: bold;
          content: attr(data-badge);
          background: #ff3366;
          color: white;
          border: solid 2px #f7f7f8;
          position: relative;
          top: -10px;
          right: 10px;
        }
        .small-badge[data-badge]:after {
           font-size: 13px;
           padding: 1px 5px 2px 5px;
        }
        .medium-badge[data-badge]:after {
           font-size: 13px;
           padding: 2px;
        }
        .large-badge[data-badge]:after {
           font-size: 11px;
           padding: 4px 1px 4px 1px;
        }
      }

      .header-title {
        font-size: 13px;
        padding-top: 23px;
        height: 20px;
        margin: 0%;
        float: left;
        font-weight: 900;
        text-align: left;
        color: #000000;
      }

      .header-button {
        margin: 0%;
        width: 25%;
        height: $_HEIGHT_HEADER;
        background-color: #0091ff;
        float: right;
        text-align: center;
        font-size: 24px;

        i {
          position:relative;
          top: calc(50% - 13px);
          color: #000000;
        }
      }

      .header-clear {
        clear: both;
      }
    }
  }

  nav::-webkit-scrollbar-track{
    background-color: rgba(233, 233, 233, 0.76);
    box-shadow: inset 0 0 10px rgba(220,220,220,0.1);
  }
  nav::-webkit-scrollbar{
    width: 6.5px;
  }
  nav::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #b0b2b4;
  }

  nav {
    overflow: auto;
    height: calc(100% - 61px);
    position: relative;

    .empty-feed-content {
      height: 110px;
      width: 155px;
      text-align: center;
      margin: 60% auto;

      .empty-list-image {
        height: 50%;
        margin-bottom: 10%;

        .empty-icon {
          height: 100%;
          width: 32%;
          position: relative;
          left: 30%;
          background: url(../#{$_PATH_TO_IMAGES}/icon-notification.png) no-repeat center center;
          background-size: 100%;
        }
      }

      p {
        margin: 0px;
      }
      .text {
        height: 50%;
        
        .title {
          color: #000000;
        }
        .subtitle {
          color: #9b9b9b;
        }
      }
    }

    .new-feeds{
      padding-left: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      list-style-type: none;

      .feed-section-title {
        .text{
          width: 30px;
          height: 16px;
          font-size: 12px;
          color: #8a9dad;
          padding-left: 33px;
          padding-top: 12px;
          margin: 0% 0% 2% 0%;
        }
      }

      @keyframes fadeInRight {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0);
        }
      } 

      .deleted-feed {
        height: 55px;
        padding: 0%;
        margin: 0%;
        background-color: #dc4d48;
        color: #ffffff;
        animation-name: fadeInRight;
        animation-duration: 500ms;

        .deleted-feed-icon {
          margin: 0%;
          width: 19%;
          height: 100%;
          float: left;
          text-align: center;
          font-size: 18px;
          color: #ffffff;

          i {
            position:relative;
            top: calc(50% - 9px);
          }
        }

        .deleted-feed-content {
          height: 100%;
          width: 81%;
          padding: 0%;
          margin: 0%;
          text-align: left;
          line-height: 100%;
          font-weight: 600;
          float: right;

          span {
            position: relative;
            top: 38%;
          }
        }

      }
      
      .feed-item {
        height: 55px;
        padding-bottom: 0px;
        margin-bottom: 2px;

        .feed-content {
          margin: 0%;
          padding: 0%;
          height: 100%;

          .feed-icon {
            margin: 0%;
            width: 19%;
            height: 100%;
            float: left;
            text-align: center;
            font-size: 18px;

            i {
              position:relative;
              top: calc(50% - 9px);
              color: #d4d4d4;
            }
          }

          .feed-data {
            height: 100%;
            width: 72%;
            padding: 0%;
            margin: 0% 9% 0% 0%;
            float: right;
            text-align: left;
            color: #000000;

            .feed-preview {
              width: 75%;
              height: 31px;
              padding: 12px 0px 12px 0px;
              margin: 0%;
              float: left;

              .feed-title {
                width: 100%;
                height: 16px;
                font-size: 12px;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .feed-subject {
                width: 95%;
                color: #9b9b9b;
                float: left;
                margin: 0%;
                font-size: 12px;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;

                span {
                  width: 100%;
                }
              }
            }

            .feed-actions-time {
              width: 25%;
              height: 31px;
              padding: 12px 0px 12px 0px;
              margin: 0%;
              float: left;
              text-align: right;
              color: #dcdde0;

              .feed-time {
                width: 100%;
                font-size: 10px;
                position: relative;
                bottom: -20px;
              }

              .feed-actions {
                height: 100%;
                width: 100%;

                .feed-mute {
                  font-size: 18px;
                  height: 50%;
                  i {
                    position: relative;
                    top: -3px;
                  }
                  i:hover {
                    color: #c2c2c2;
                  }
                }

                .feed-delete {
                  height: 50%;
                  i {
                    position: relative;
                    right: 2px;
                    bottom: -3px;
                  }
                  i:hover {
                    color: #c2c2c2;
                  }
                }

              }
            }
          }

          .feed-clear {
            clear: both;
          }
        }
      }

      .unread-feed {
        background-color: #f2f8ff;
        .feed-content {
          .feed-icon {
            i {
              color: #000;
            }
          }
          .feed-data {
            .feed-preview {
              .feed-title {
                 font-weight: bold;
               }
             }
            .feed-actions-time {
              .feed-time {
                font-weight: bold;
                font-style: normal;
                color: #000000;
              }
            }
          }
        }
      }

    }

  }
  
}