.avatar-letters {
  position: relative;
  align-items: center;
  border-radius: 50%;
  display: flex;
  overflow: visible;
  height: 100%;
  width: 100%;

  .cptx-svg-border {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    left: -6px;
    overflow: overlay;
    position: absolute;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
  }

  span{
    font-weight: 300;
    margin: 0 auto;
  }
}