@import "./../styles/index.scss";

.button-circle{
  color: #ffffff;
  margin: 0 5px;
  width: 29px;
  height: 29px;
  background-color: rgba(247, 247, 248, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(148, 148, 148, 0);
  cursor: pointer;

  &:hover{
    border: solid 1px rgba(176, 178, 180, 0.5);
  }

  i{
    font-size: 18px;
    opacity: 0.4;
  }
}