.button-unsend{
  background-color: #dd4040;
  border-radius: 13px;
  color: white;
  height: 26px;
  margin-right: 5px;
  padding: 0;
  text-transform: uppercase;
  
  div{
    i{
      font-size: 15px;
      left: -2px;
      margin-right: 2px;
      position: relative;
    }

    span{
      font-size: 11px;
      font-weight: 400;
      position: relative;
      top: -1px;
    }
  }

  .loading {
    height: 26px;
    position:relative;
    width: 26px;

    > div {
      background-color:#FFFFFF;
      height: 5px;
      position:absolute;
      width: 2px;
      border-radius:2px;
      -webkit-transform:scale(0.4);
      -webkit-animation-name:loading;
      -webkit-animation-duration:1.04s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-direction:linear;
    }

    > div:nth-child(1) {
      left: 5px;
      top: 11px;
      -webkit-transform:rotate(-90deg);
      -webkit-animation-delay:0.39s;
    }

    > div:nth-child(2) {
      left: 7px;
      top: 6px;
      -webkit-transform:rotate(-45deg);
      -webkit-animation-delay:0.52s;
    }

    > div:nth-child(3) {
      left: 12px;
      top: 4px;
      -webkit-transform:rotate(0deg);
      -webkit-animation-delay:0.65s;
    }

    > div:nth-child(4) {
      right: 7px;
      top: 6px;
      -webkit-transform:rotate(45deg);
      -webkit-animation-delay:0.78s;
    }

    > div:nth-child(5) {
      right: 5px;
      top: 11px;
      -webkit-transform:rotate(90deg);
      -webkit-animation-delay:0.91s;
    }

    > div:nth-child(6) {
      right: 7px;
      bottom: 5px;
      -webkit-transform:rotate(135deg);
      -webkit-animation-delay:1.04s;
    }

    > div:nth-child(7) {
      bottom: 3px;
      left: 12px;
      -webkit-transform:rotate(180deg);
      -webkit-animation-delay:1.17s;
    }

    > div:nth-child(8) {
      left: 7px;
      bottom: 5px;
      -webkit-transform:rotate(-135deg);
      -webkit-animation-delay:1.3s;
    }
  }
}

.button-unsend-normal{
  width: 97px;
}

.button-unsend-loading{
  width: 26px;
}

@-webkit-keyframes loading {
  0%{ background-color:#fff }
  100%{ background-color:#dd4040 }
}
