.change-recovery-email-popup-content {
    .change-recovery-email-input {
      padding-left: 20px;
      margin-bottom: 35px;
      input {
        padding-left: 7px;
      }
      > 
      &:first-child {
        > i {
          color: #ffffff;
          pointer-events: none;
        }
      }
    }
}