.change-password-popup-content {
  width: 280px;
  height: 340px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 16px 0 rgba(143, 143, 143, 0.2);
  text-align: center;

  .change-password-popup-title {
    h1 {
      padding-top: 28px;
      padding-bottom: 7px;
      font-size: 16px;
      line-height: 30px;
      margin: 0px;
    }
  }
  .change-password-popup-text {
    font-size: 13px;
    color: #373a45;
    padding: 10px 40px 0px 40px;
    margin-bottom: 25px;
  }

  .change-password-popup-inputs {
    padding-left: 15px;
    .change-password-input {
      margin-bottom: 25px;
      input {
        width: 70%;
        border: none;
        border-bottom: solid 1.5px #e3e5e6;
        padding-left: 7px;
  
        &:focus {
          outline: none;
          border-bottom: solid 1.5px #0091ff;
        }
      }
      > i {
        position: relative;
        bottom: 0px;
        right: 20px;
      }
      &:last-child {
        margin-bottom: 30px;
      }
    }
  }

  .change-password-popup-buttons {
    position: absolute;
    bottom: 0%;
    right: 22%;

    & > .button {
      width: 70px;
      margin: 0px 5px;
      text-transform: capitalize;
      font-weight: bold;
    }
    .change-password-cancel-button {
      background-color: #ffffff;
      color: #5d5b5b;
    }
    .change-password-confirm-button {
      background-color: #0091ff;
      color: #ffffff;

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}