

.custom-domains-steps-container {
  background-color: #f7f7f7;
  position: relative;

  .custom-domains-steps {
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #6a707e;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.custom-domains-main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #0091ff;
    text-decoration: none;
  }

  .custom-domains-steps-title {
    text-align: center;
    font-size: 20px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 3vh;
  }

  .custom-domains-steps-text {
    font-size: 15px;
    color: #373a45;
    margin-bottom: 3vh;
  }

  .custom-domains-steps-button-container{
    display: flex;
    justify-content: center;
    .custom-domains-steps-button {
      min-width: 60px;
      font-size: 13px;
      min-height: 28px;
      border-radius: 14px;
      align-items: center;
      background-color: #008efa;
      font-weight: bold;
      font-family: NunitoSans;
      text-align: center;
      color: #ffffff;
    }

    .custom-domains-steps-button-back {
      margin-right: 20px;
      min-width: 60px;
      min-height: 28px;
      align-items: center;
      font-size: 13px;
      font-weight: bold;
      font-family: NunitoSans;
      text-align: center;
      background-color: white;
      color: black;
    }
  }

  .custom-domains-steps-first {
    margin-top: 20vh;

    .custom-domains-steps-first-text{
      text-align: center;
    }


    .custom-domains-steps-first-input {
      margin-bottom: 3vh;
      min-width: 15vw;
      input {
        padding: 2px;
        padding-left: 10px;
        border-radius: 4px;
        border: solid 1px #008efa;
      }

      .input-error{
        border: solid 1px #da341a;
      }
      
    }

    .custom-domain-input-text-error {
      padding-top: 2px;
      font-size: 12px;
      color: #da341a;
    }
  }

  .custom-domains-steps-second {
    margin-top: 20vh;

    .custom-domains-steps-second-text{
      max-width: 50vw;
      text-align: justify;
      text-justify: inter-word;
    }

  }

  .custom-domains-steps-second-2 {
    margin-top: 15vh;
    max-width: 50vw;

    .custom-domains-steps-second-text{
      text-align: justify;
      text-justify: inter-word;
    }

    .custom-domains-steps-second-note{
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: justify;
      color: #373a45;
    }


    .custom-domains-steps-table-second-2{
      display: flex;
      justify-content: center;

      table {
        width: 100%;
        border: solid 1px #d8dbe0;

        tbody {
          text-align: center;
          color: #373b45;
          font-size: 12px;
        }
  
        thead  {
          background-color: #f7f9fa;
          border: solid 1px #d8dbe0;
          text-align: center;
          font-weight: bold;
          line-height: 2.25;
          font-size: 12px;
          color: #8d95a5;
        }   

        th {
          padding-left: 10px;
          padding-right: 10px;
        }

        td {
          padding: 10px;
        }

        .custom-domain-steps-second-table-copy {
          object-fit: contain;
          font-family: NunitoSans;
          font-size: 10px;
          line-height: 2.7;
          color: #0091ff;
          text-decoration: none;
          padding-left:0;
          background-color: transparent;
        }
      }

    }
  }

  .custom-domains-steps-third {
    margin-top: 20vh;
  }

  .custom-domains-steps-fourth {
    margin-top: 20vh;
  }

  .loading-button {
    min-width: 60px;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    min-height: 28px;
    border-radius: 14px;

    .loading-ring {
      top: -17px !important;
      left:-13px !important;
    }
  }
}