@import "./../styles/index.scss";

.email-container{
  align-items: center;
  background-color: white;
  border: solid 1px #dcdde0;
  border-radius: 4px;
  display: flex;
  margin-bottom: 6px;
  position: relative;
  width: calc(100% - 2px);

  &.email-unsend {
    border: solid 1px #eeb6b7;
  }

  &.email-draft {
    .email-info-content-from{
      color: #dd4040;
    }
  }

  > hr{
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    width: calc(100% - 20px);
  }

  .email-info{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 65px;

    .email-info-letter{
      align-items: center;
      background-color: blueviolet;
      border-radius: 50%;
      display: flex;
      height: 36px;
      margin-right: 10px;
      width: 36px;
    
      span{
        color: white;
        font-size: 15px;
        font-weight: 200;
        margin: 0 auto;
      }
    }

    .email-info-content{
      display: flex;
      flex-direction: column;
      position: relative;
      width: calc(100% - 46px);

      .email-info-content-line{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &:last-child{
          height: 26px;
        }

        .email-info-content-from{
          span{
            color: black;
            font-size: 15px;
            font-weight: 600;
          }
        }

        .email-info-content-detail{
          display: flex;
          margin-right: 13px;

          .email-info-content-detail-date{
            color: black;
            font-size: 13px;
            font-weight: 300;
            text-align: right;
            width: 70px;
          }
        }
      }
    }
  }

  .email-status{
    width: auto;

    i{
      font-size: 13px;
      margin-right: 5px;

      &.status-sent, &.status-delivered, &.status-sending{
        color: #d5d5d5;
      }

      &.status-opened{
        color: #0091ff;
      }
    }
  }

  .email-file-icon{
    display: flex;
    
    i{
      color: #d5d5d5;
      font-size: 19px;
      transform: rotate(-90deg);
    }
  }
}

.email-container-collapse{
  &.email-unsend{
    .email-preview-content{
      color: #eeb6b7;
      font-style: italic;
    }
  }

  .email-info{
    margin: 0 16px;
    width: calc(100% - 32px);
  }

  .email-preview-content{
    color: #4a4a4a;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  >hr, .email-body{
    display: none;
  }
}

.email-container-expand{
  height: auto;
  flex-direction: column;

  &.email-unsend {
    .email-text {
      font-style: italic;
    }
  }

  > div{
    margin: 0 17px;
    width: calc(100% - 32px);
  }

  .email-info{
    .email-info-content{
      .email-info-content-to{
        align-items: center;
        display: flex;
        flex-direction: row;
        position: relative;

        >span{
          color: #4a4a4a;
          font-size: 14px;
          font-weight: 100;
        }

        .email-info-content-to-more{
          display: flex;
          margin-left: 5px;
          position: relative;
          
          >span{
            color: #0091ff;
            cursor: pointer;
            font-size: 14px;
            font-weight: 200;
          }
        }
      }

      .email-info-content-actions{
        margin-right: 10px;
        
        >div{
          align-items: center;
          display: flex;
          position: relative;

          >i{
            color: #9197a1;
            cursor: pointer;
            font-size: 21px;
            margin: 0 5px;
            position: relative;
  
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .email-body{
    .email-text{
      font-weight: 200;
      overflow: auto;
    
      &[disabled]{
        opacity: 0.3;
        pointer-events: none;
      }

      >div{
        margin: 10px 0;
      }

      p{
        font-family: 'NunitoSans';
      }

      .div-collapse{
        align-items: center;
        background-color: #fafafa;
        border: 1px solid rgba(216, 216, 216, 0.45);
        border-radius: 13px;
        cursor: pointer;
        display: flex;
        height: 13px;
        justify-content: center;
        margin-bottom: 5px;
        width: 35px;

        i{
          font-size: 22px;
        }
      }

      blockquote {
        margin-top: 10px;
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 5px;
        border-left: 1px solid #22b7e8;
      }
    }

    .email-files{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 20px;
      margin-top: 60px;
    
      &[disabled]{
        opacity: 0.2;
        pointer-events: none;
      }
    }
  }
}

.email-segment-controls{
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 17px;
  display: flex;
  height: 28px;
  margin: 12px auto 0;
  width: 266px;

  > div{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;

    &:nth-child(1){
      border-top-left-radius: 17px;
      border-bottom-left-radius: 17px;
      padding-left: 4px;
    }

    &:nth-child(3){
      border-top-right-radius: 17px;
      border-bottom-right-radius: 17px;
      padding-right: 4px;
    }

    &:nth-child(2){
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
    }

    i{
      color: rgba(60, 72, 88, 0.6);
      font-size: 19px;
      margin-right: 5px;
    }

    span{
      color: black;
      font-family: NunitoSans;
      font-size: 12px;
    }

    &:hover{
      background-color: #0091ff;

      i, span{
        color: white;
      }
    }
  }
}