@import "./../styles/index.scss";

.email-more-menu{
    background-color: transparent;
    border-radius: 6px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.14);
    height: auto;
    padding: 10px 0;
    width: 204px;
  
    &:before{
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      top: 0;
      border-bottom: 6px solid transparent;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
  
  }