.email-info-content-to-more .menu-container.menu-arrow.arrow-top-left{
  &:before, &:after{
    left: 155px;
  }
}

.email-more-detail{
  background-color: white;
  height: auto;
  padding: 0 10px;
  width: 300px;

  table{
    margin: 10px auto;

    td{
      border: none;
      line-height: initial;
      padding: 2px 0;

      &:first-child{
        min-width: 69px;
        vertical-align: top;
      }

      span{
        font-size: 12px;
      }

      .title{
        color: black;
        font-size: 12px;
        font-weight: 700;
        margin-right: 8px;
      }
  
      .text{
        color: black;
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
}