@import "./../styles/index.scss";

.empty-mailbox-container {
  .empty-content {
    .empty-icon {
      &.empty-mailbox {
        background-image: url(../#{$_PATH_TO_IMAGES}/empty-mailbox.svg);
      }
      &.empty-search {
        background-image: url(../#{$_PATH_TO_IMAGES}/empty-search.svg);
      }
    }
  }
}

/* THEME
   ----------------------------- */
@mixin themable($_THEME, $_BACKGROUND_COLOR_MAIN_EMPTY){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .empty-mailbox-container {
      background-color: $_BACKGROUND_COLOR_MAIN_EMPTY;
    }
  }
}

@include themable($_THEME_LIGHT, $_BACKGROUND_COLOR_MAIN_EMPTY_LIGHT);
@include themable($_THEME_DARK, $_BACKGROUND_COLOR_MAIN_EMPTY_DARK);