@import "./../styles/index.scss";

.empty-mailbox-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  .empty-mailbox-content {
    margin: auto;
    align-items: center;

    .empty-icon {
      width: 70px;
      height: 70px;
      margin: 0 auto;
      background-size: auto 100%;

      &.empty-mailbox {
        background-image: url(../#{$_PATH_TO_IMAGES}/empty-mailbox.png);
      }
      &.empty-search {
        background-image: url(../#{$_PATH_TO_IMAGES}/empty-search.png);
      }
    }

    .header-text {
      font-size: 14px;
      text-align: center;
      color: #000000;
      margin-top: 15px;
    }

    .subheader-text {
      font-size: 14px;
      font-style: italic;
      text-align: center;
      color: #9b9b9b;
    }
  }
}