#export-backup-file-popup {
  height: 270px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .popup-title {
    margin-top: 5%;
  }
  .popup-paragraph,
  .popup-inputs {
    width: 85%;
    margin: auto;
    text-align: left;
  }
  .encrypt-backup-switch-section {
    width: 100%;
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
    p {
      margin: 0px;
    }
  }
  .unencrypt-note {
    margin: 12% auto;
  }
  .popup-inputs {
    .error-password-message {
      visibility: visible;
      &.hidden {
        visibility: hidden;
      }
    }
  }
  .popup-buttons {
    button {
      margin: 0 5px;
    }
  }
}
