@import "./../styles/index.scss";

.file-content{
  align-items: center;
  border: 1px solid #e7e5e5;
  border-radius: 6px;
  display: flex;
  height: 20px;
  margin-right: 20px;
  padding: 10px;
  position: relative;
  width: 236px;
  margin: 5px 15px;

  &:hover{
    background-color: #f7f6f6;

    .file-detail-size{
      color: #f7f6f6;
    }
    .file-button-download{
      display: flex;
    }
  }

  &.file-loading {
    opacity: 0.5;

    .file-button-download{
      display: none;
    }
    .file-button-cancel {
      display: flex;
    }
    .file-detail-size{
      color: transparent;
    }
  }

  .file-button-download{
    background: transparent;
    display: none;
    position: absolute;
    right: 20px;
    
    i{
      color: #89909a;
      font-size: 13px;
    }
  }

  .file-button-cancel{
    background: transparent;
    position: absolute;
    right: 12px;
    top: 7px;

    i{
      color: #89909a;
      font-size: 25px;
    }
  }

  .file-tooltip{
    background-color: #e1e1e1 !important;
    color: black !important;
    font-weight: normal;
    font-size: 10.5px !important;
    border-radius: 3px !important;
    padding: 4px 16px !important;
   
      &:after{
        border-top-color: #e1e1e1 !important;
        border-bottom-color: #e1e1e1 !important;
      }
  }
}

.file-bar-loading {
  height: 2px;
  background-color: #0091ff;
  position: relative;
  top: -2px;
  left: 3px;
  max-width: 91%;
}

.file-content-icon{
  position: relative;
  background-color:#4a90e2;

  >div{
    align-items: center;
    border-radius: 4px;
    display: flex;
    height: 22px;
    width: 22px;
    font-size: 18px;

    i{
      color: white;
      margin: 0 auto;
    }
  }

  .icon-container-file-default{
    background-color: #4a90e2;
  }
}

.file-content-detail{
  display: flex;
  flex-grow: 1;
  height: 100%;
  margin-left: 10px;
  width: calc(100% - 32px);

  .file-detail-name{
    flex-grow: 1;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    padding-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .file-detail-size{
    color: #9b9b9b;
    flex-grow: 0;
    font-size: 13px;
    white-space: nowrap;
    line-height: 21px;
  }
}