.header-main{
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;

  > div{
    display: flex;
    align-items: center;
  }
}

.header-profile{
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(74, 108, 98, 0.96);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.search-tooltip{
  width: 550px;
}

.search-options{
  width: 400px;

  > div {
    display: flex;
    align-content: center;
    padding: 11px 0px;
    font-size: 12px;
    border-bottom: solid 0.5px #c8c8ca;
    color: #6c7280;

    &:last-child{
      margin-top: 10px;
      border-bottom: none;

      > div{
        width: 117px; 
      }
    }

    > div {
      width: 50px;
      margin: 0 20px;
      display: flex;
      align-items: center;
      font-weight: 600;
    }

    > input {
      border: none;
      width: calc(100% - 90px);
      font-size: 12px;
      outline: none;
    }

    > select {
      cursor: pointer;
      width: 147px;
      height: 26px;
      border-radius: 3px;
      background-color: #f0f0f0;
      color: #6a707e;
      border: none;
      outline: none;
    }
  }

  button{
    width: 96px;
    height: 27px;
    border-radius: 100px;
    background-color: #0091ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    i{
      font-size: 18px;
    }
  }
}

.search-recent{
  display: flex;
  margin-bottom: 5px;

  i{
    margin: 7px 10px 5px 10px;
    font-size: 20px;
    color: #6a707e;
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1 0;
    margin-top: 10px;
    font-size: 12px;
    color: #6a707e;

    li{
      margin-bottom: 7px;
    }
  }
}

.search-mail{
  display: flex;
  align-items: center;
  cursor: pointer;

  i{
    margin: 5px 10px;
    font-size: 20px;
    color: #6a707e;
  }

  > div{
    padding: 11px 0px;
    margin-right: 18px;
    border-top: 1px solid #d8d8d8;
    overflow: hidden;
    flex: 1 0;
    font-size: 12px;
    color: #6a707e;

    > div{
      display: flex;
      justify-content: space-between;

      > div{
        &:nth-child(1){
          flex: 1 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:nth-child(2){
          padding-right: 10px;
          margin-left: 20px;
        }
      }
    }
  }

  &:hover{
    background-color: #f7f7f7;
  }
}

.search-option-last{
  justify-content: center;

  > * {
    margin: 0px 5px;
  }
}