.header-main{
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;

  > div{
    display: flex;
    align-items: center;
  }
}

.header-profile{
  align-items: center;
  font-size: 15px;
  font-weight: 200;
  height: 33px;
  border-radius: 50%;
  background-color: rgba(74, 108, 98, 0.96);
  color: white;
  display: flex;
  justify-content: center;
  width: 33px;
}