@import "./../styles/index.scss";

header.header-container{
  background-color: #373a45;
  display: flex;
  height: $_HEIGHT_HEADER;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: auto;

  .header-content{
    background-color: transparent;
    flex-grow: 1;
  }
}