$_HEADER_MAIN_PADDING_LEFT: 40px;
$_HEADER_MAIN_PADDING_RIGHT: 25px;

.header-main{
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 $_HEADER_MAIN_PADDING_RIGHT 0 $_HEADER_MAIN_PADDING_LEFT;
  width: calc(100% - (#{$_HEADER_MAIN_PADDING_RIGHT} + #{$_HEADER_MAIN_PADDING_LEFT}));

  > div{
    display: flex;
    align-items: center;
  }
}