.label-tag{
  align-items: center;
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 12px;
  height: 21px;
  margin-right: 10px;
  padding: 0 3px 0 13px;
  white-space: nowrap;

  &:last-child{
    margin: 0;
  }

  i{
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
  }
}
