@import "./../styles/index.scss";

#error-boundary-container {
  width: 100%;
  height: 100vh;
  min-width: 375px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  > .error-boundary-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .error-boundary-logo {
      width: 240px;
      height: 171px;
      margin-left: 4%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-image: url(../#{$_PATH_TO_IMAGES}/crash-app-light.svg);
    }

    > .error-boundary-text {
      text-align: center;
      margin: 7% auto;

      > h1 {
        font-size: 24px;
        color: #373a45;
        margin: 3 auto;
      }
      > h2 {
        font-size: 23px;
        color: #939393;
        margin: 3 auto;
      }
    }

    > .error-boundary-options {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        color: #ffffff;
        background-color: #0091ff;
        width: 150px;
        height: 40px;
        padding: 7px 17px;
        text-transform: capitalize;
        font-size: 17px;
        opacity: 0.9;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}