#popup-manual-sync-device-authentication {
  width: 240px;
  padding-top: 40px;
  padding-bottom: 30px;

  .popup-buttons {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .button-c {
    margin-top: 20px;
  }
}
