.message-wrapper{
  display: flex;
  margin: 0 135px;
  position: absolute;
  top: 10px;
  width: calc(100% - 250px);
  z-index: 3;

  &.displayed {
    animation: fadein 1000ms;
  }
  &.hidden {
    animation: fadeout 1000ms;
  }

  .message-container{
    display: -webkit-box;
    position: relative;
    width: 100%;

    .message-content {
      align-items: center;
      border: 1px solid transparent;
      border-radius: 13px;
      display: flex;
      height: 22px;
      margin: 0 auto;
      max-width: calc(100% - 30px);
      padding: 0 15px;
      position: relative;
      width: auto;
    
      &.message-advice{
        background-color: #eff6ff;
        border-color: #c7e1ff;
      }
    
      &.message-suggestion,
      &.message-announcement {
        background-color: #0091ff;
        border-color: #0091ff;
        color: white;
        padding-right: 3px;
    
        button{
          color: white;
        }
      }
    
      &.message-question{
        background-color: #0091ff;
        border-color: #0091ff;
        color: white;
    
        .message-buttons{
          display: flex;
    
          button{
            margin: 0 10px;
    
            span{
              color: white;
              font-style: normal;
            }
          }
        }
      }
    
      &.message-success{
        background-color: #f4eabe;
        border-color: #f4eabe;
      }
    
      &.message-error{
        background-color: #d26054;
        border-color: #d26054;
        color: white;
        > .message-description {
          margin-right: 15px;
        }
    
        button{
          color: white;

          .cptx-spinning-circle > div {
            border-color: white transparent transparent transparent;
          }
        }
      }
    
      &.message-establish{
        background-color: #9abe4e;
        border-color: #9abe4e;
        color: white;
      }
    
      .message-description{
        font-size: 13px;
        font-weight: 200;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 10px;
        font-weight: 300;
      }
    
      button {
        &.message-action-disabled{
          opacity: 0.5;
          pointer-events: none;

          .cptx-spinning-circle{
            margin-left: 2px;
          }
        }

        align-items: center;
        background-color: transparent;
        color: #373a45;
        display: flex;
        padding: 0;
        white-space: nowrap;
    
        span{
          font-size: 13px;
          font-style: italic;
          font-weight: 700;
        }
    
        i{
          font-size: 19px;
        }
      }
    }
  }
}

@keyframes fadein {
  from {
    transform: translateY(-15px);
    opacity: 0; 
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1; 
  }
  to {
    transform: translateY(-15px);
    opacity: 0;
  }
}