.password-changed-popup-container {
  width: 300px;
  height: 390px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 1px 16px 0 rgba(143, 143, 143, 0.2);
  text-align: center;

  .password-changed-popup-title {
    padding: 40px 0px;
    text-align: center;

    span{
      font-size: 16px;
      font-weight: 700;
    }
  }

  .password-changed-popup-text {
    padding: 0px 45px;
    text-align: left;
    
    & > .text {
      color: #373a45;
      font-size: 13px;
      margin-bottom: 20px;
    }
  }

  .password-changed-input {
    margin-bottom: 25px;

    input {
      width: 70%;
      border: none;
      border-bottom: solid 1.5px #e3e5e6;
      padding-left: 7px;
      margin-left: 20px;

      &:focus {
        outline: none;
        border-bottom: solid 1.5px #0091ff;
      }
    }
    i {
      position: relative;
      bottom: 0px;
      right: 20px;
    }
    > span {
      font-size: 12px;
      color: red;
      float: left;
      position: relative;
      bottom: 0px;
      left: 48px;
    }
    &:last-child {
      margin-bottom: 30px;
    }
  }

  .password-changed-popup-buttons {
    position: absolute;
    bottom: 6%;
    right: 20%;

    & > .button {
      width: 80px;
      margin: 0px 5px;
      text-transform: capitalize;
      font-weight: bold;
    }
    .password-changed-cancel-button {
      background-color: #ffffff;
      color: #5d5b5b;
    }
    .password-changed-confirm-button {
      background-color: #0091ff;
      color: #ffffff;

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}