.popup-wrapper{
  position: absolute;
}

.popup-container{
  background-color: #fdfdfd;
  box-shadow: 0 1px 16px 0 rgba(143, 143, 143, 0.56);
  border: solid 1px #ececee;
  border-radius: 6px;
  position: absolute;
  color: black;
  width: auto;
  z-index: 11;
  transform: translate(-50%, -50%);
}

.popup-overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.popup-title {
  h1 {
    padding-top: 28px;
    padding-bottom: 7px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin: 0px;
  }
}

.popup-text {
  font-size: 13px;
  color: #373a45;
  padding: 10px 40px 0px 40px;
  margin-bottom: 25px;
}

.popup-buttons {
  position: absolute;
  bottom: 6%;
  right: 22%;

  & > .button {
    width: 70px;
    margin: 0px 5px;
    text-transform: capitalize;
    font-weight: bold;
  }
  .popup-cancel-button {
    background-color: #ffffff;
    color: #5d5b5b;
  }
  .popup-confirm-button {
    background-color: #0091ff;
    color: #ffffff;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}