.profile-shortcut-container .menu-container.menu-arrow.arrow-top-right{
  &:before, &:after {
    right: 10px;
  }
}

.profile-preview{
  // padding: 20px 20px 0;
  // padding: 20px 0px 0px 0px;
  width: 280px;

  .profile-preview-content{
    align-items: center;
    display: flex;
    margin: 15px;
    margin-bottom: 15px;
    width: 100%;

    .icon{
      align-items: center;
      background-color: rgba(74, 108, 98, 0.96);
      border-radius: 50%;
      display: inline-flex;
      height: 60px;
      width: 60px;

      span{
        color: white;
        font-size: 26px;
        margin: 0 auto;
      }
    }

    .profile-preview-detail{
      display: inline-flex;
      flex-direction: column;
      margin-left: 10px;
      vertical-align: top;
      width: calc(100% - 70px);

      .name{
        font-size: 14px;
        font-weight: 700;
      }

      .email-address{
        color: #a7a9ae;
        font-size: 13px;
        margin-top: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .button-a{
        background-color: #0091ff;
        height: 25px;
        margin-top: 5px;
        width: 105px;

        span{
          font-size: 12px;
          font-weight: 300;
          text-transform: capitalize;
          top: 0;
        }
      }
    }
  }

  .profile-preview-controls{
    border-top: 1px solid #eaeaea;
    display: flex;

    .button-b{
      width: 50%;
      align-items: center;
      display: flex;
      height: 40px;

      &:hover {
        background-color: rgba($color: white, $alpha: 0.05);
      }
    }
    
    :nth-child(1) {
      padding-left: 10px;
    }
  }
}