@import "./../styles/index.scss";

.header-profile-shortcut-container .menu-container.menu-arrow.arrow-top-right{
  &:before, &:after {
    right: 10px;
  }
}

#cptx-profiles-previews {
  width: 310px;
  user-select: none;

  &.disabled{
    cursor: move;
    opacity: 1;
    pointer-events: none;
  }

  ul.cptx-profile-preview-accounts{
    margin: 0;
    padding: 0;

    li.cptx-profile-preview-content{
      align-items: center;
      display: flex;
      padding: 15px 23px;
      width: calc(100% - 46px);

      &.active{
        cursor: auto;
        .cptx-profile-preview-icon{
          height: 49px;
          width: 49px;
  
          span{
            font-size: 21px;
          }
        }

        .cptx-profile-preview-detail{
          .name{
            font-size: 14px;
            font-weight: 700;
          }

          .email-address{
            font-size: 13px;
          }
        }
      }
  
      &.logged{
        cursor: pointer;
        .cptx-profile-preview-icon{
          height: 34px;
          width: 34px;
  
          span{
            font-size: 15px;
          }
        }

        .cptx-profile-preview-detail{
          .name{
            font-size: 12px;
          }
          
          .email-address{
            color: #a3a6b3;
            font-size: 12px;
          }
        }

        &:hover {
          opacity: 0.8;
        }
      }

      &:nth-child(1) {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .cptx-profile-preview-icon{
        align-items: center;
        background-color: rgba(141, 166, 210, 0.8);
        border-radius: 50%;
        display: inline-flex;
  
        span{
          color: white;
          font-weight: 600;
        }
      }

      .cptx-profile-preview-detail{
        display: inline-flex;
        flex-direction: column;
        margin-left: 10px;
        vertical-align: top;
        width: calc(100% - 70px);
    
        .email-address{
          margin-top: 2px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .cptx-profile-preview-badge{

      }
    }
  }

  .cptx-profile-preview-controls {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;

    .button-b{
      width: 45%;
      align-items: center;
      display: flex;
      font-weight: 600;
      height: 40px;
      justify-content: center;

      i{
        margin-right: 3px;
      }

      span{
        font-weight: 600;
      }

      &:nth-child(1) {
        i{
          font-size: 17px;
          font-weight: 800;
          margin-right: 0px;
        }
      }
    }
  }
}

/*  THEME
----------------------------- */
@mixin themable($_THEME, $_BACKGROUND_COLOR_PROFILE_SHORTCUT_ACTIVE, $_BACKGROUND_COLOR_PROFILE_SHORTCUT_LOGGED, $_COLOR_TEXT_PRIMARY_PROFILE_SHORTCUT, $_COLOR_TEXT_SECONDARY_PROFILE_SHORTCUT, $_COLOR_TEXT_SECONDARY_ACTIVE_PROFILE_SHORTCUT, $_BORDER_COLOR_POPOVER){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    #cptx-profiles-previews {
      .cptx-profile-preview-content {
        border-bottom: 1px solid $_BORDER_COLOR_POPOVER;

        &.active {
          background-color: $_BACKGROUND_COLOR_PROFILE_SHORTCUT_ACTIVE;

          .cptx-profile-preview-detail{
            .email-address {
              color: $_COLOR_TEXT_SECONDARY_ACTIVE_PROFILE_SHORTCUT;
            }
          }
        }
        &.logged {
          background-color: $_BACKGROUND_COLOR_PROFILE_SHORTCUT_LOGGED;
        }

        .cptx-profile-preview-detail {
          > .name {
            color: $_COLOR_TEXT_PRIMARY_PROFILE_SHORTCUT;
          }
          > .email-address {
            color: $_COLOR_TEXT_SECONDARY_PROFILE_SHORTCUT;
          }
        }
      }

      .cptx-profile-preview-controls {
        background-color: $_BACKGROUND_COLOR_PROFILE_SHORTCUT_ACTIVE;
      }
    }
  }
}

@include themable($_THEME_LIGHT, $_BACKGROUND_COLOR_PROFILE_SHORTCUT_ACTIVE_LIGHT, $_BACKGROUND_COLOR_PROFILE_SHORTCUT_LOGGED_LIGHT, $_COLOR_TEXT_PRIMARY_PROFILE_SHORTCUT_LIGHT, $_COLOR_TEXT_SECONDARY_PROFILE_SHORTCUT_LIGHT, $_COLOR_TEXT_SECONDARY_ACTIVE_PROFILE_SHORTCUT_LIGHT, $_BORDER_COLOR_POPOVER_LIGHT);
@include themable($_THEME_DARK, $_BACKGROUND_COLOR_PROFILE_SHORTCUT_ACTIVE_DARK, $_BACKGROUND_COLOR_PROFILE_SHORTCUT_LOGGED_DARK, $_COLOR_TEXT_PRIMARY_PROFILE_SHORTCUT_DARK, $_COLOR_TEXT_SECONDARY_PROFILE_SHORTCUT_DARK, $_COLOR_TEXT_SECONDARY_ACTIVE_PROFILE_SHORTCUT_DARK, $_BORDER_COLOR_POPOVER_DARK);
