.header-profile-shortcut-container{
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  height: 40px;
  position: relative;
  width: 40px;

  &.profile-opened{
    border-color: rgba(256, 256, 256, 0.1);
  }

  .header-profile-plus-border-container {

    .header-profile-plus-outer-border {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: #373a45;
      position: absolute;
      transform: translate(-1px, -50%);
    }

    .header-profile-plus-inner-border {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-image: linear-gradient(177deg, #ffcc83 3%, #c9821b 54%, #fecb81 94%);
      position: absolute;
      transform: translate(-2px, -50%);
    }

  }

  .header-profile{
    align-items: center;
    background-color: rgba(141, 166, 210, 0.8);
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 15px;
    font-weight: 200;
    height: 34px;
    justify-content: center;
    margin: 0 auto;
    width: 34px;
    z-index: 1;
  }

  .cptx-header-profile-badge{
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 2;

    >div{
      height: 7px;
      width: 7px;
      background-color: red;
      border: 2px solid #373a45;
      border-radius: 50%;
    }
  }
}