@import "./../styles/index.scss";

.profile-shortcut-container .menu-container.menu-arrow.arrow-top-right{
  &:before, &:after {
    right: 10px;
  }
}

#profiles-previews {
  width: 280px;
  user-select: none;

  .profile-preview-content {
    align-items: center;
    display: flex;
    padding: 15px;
    width: calc(100% - 30px);
    opacity: 0.80;

    &:hover {
      opacity: 1;
    }

    .icon{
      align-items: center;
      background-color: rgba(74, 108, 98, 0.96);
      border-radius: 50%;
      display: inline-flex;
      height: 60px;
      width: 60px;

      span{
        color: white;
        font-size: 26px;
        margin: 0 auto;
      }
    }

    .profile-preview-detail{
      display: inline-flex;
      flex-direction: column;
      margin-left: 10px;
      vertical-align: top;
      width: calc(100% - 70px);

      .name{
        font-size: 14px;
        font-weight: 700;
      }

      .email-address{
        font-size: 13px;
        margin-top: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .profile-preview-controls {
    border-top: 0.5px solid #eaeaea;
    display: flex;

    .button-b{
      width: 50%;
      align-items: center;
      display: flex;
      height: 40px;
      opacity: 0.80;

      &:hover {
        opacity: 1;
      }
    }
    
    :nth-child(1) {
      padding-left: 10px;
    }
  }
}

/*  THEME
----------------------------- */
@mixin themable($_THEME, $_BACKGROUND_COLOR_PROFILE_SHORTCUT_ACTIVE, $_BACKGROUND_COLOR_PROFILE_SHORTCUT_LOGGED, $_COLOR_TEXT_PRIMARY_PROFILE_SHORTCUT, $_COLOR_TEXT_SECONDARY_PROFILE_SHORTCUT){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    #profiles-previews {
      .profile-preview-content {
        &.active {
          background-color: $_BACKGROUND_COLOR_PROFILE_SHORTCUT_ACTIVE;
        }
        &.logged {
          background-color: $_BACKGROUND_COLOR_PROFILE_SHORTCUT_LOGGED;
        }

        .profile-preview-detail {
          > .name {
            color: $_COLOR_TEXT_PRIMARY_PROFILE_SHORTCUT;
          }
          > .email-address {
            color: $_COLOR_TEXT_SECONDARY_PROFILE_SHORTCUT;
          }
        }
      }

      .profile-preview-controls {
        background-color: $_BACKGROUND_COLOR_PROFILE_SHORTCUT_ACTIVE;
      }
    }
  }
}

@include themable($_THEME_LIGHT, $_BACKGROUND_COLOR_PROFILE_SHORTCUT_ACTIVE_LIGHT, $_BACKGROUND_COLOR_PROFILE_SHORTCUT_LOGGED_LIGHT, $_COLOR_TEXT_PRIMARY_PROFILE_SHORTCUT_LIGHT, $_COLOR_TEXT_SECONDARY_PROFILE_SHORTCUT_LIGHT);
@include themable($_THEME_DARK, $_BACKGROUND_COLOR_PROFILE_SHORTCUT_ACTIVE_DARK, $_BACKGROUND_COLOR_PROFILE_SHORTCUT_LOGGED_DARK, $_COLOR_TEXT_PRIMARY_PROFILE_SHORTCUT_DARK, $_COLOR_TEXT_SECONDARY_PROFILE_SHORTCUT_DARK);
