@import './../styles/index.scss';

.pin-saved-content{
  margin: 0 auto;
  text-align: center;
  width: 300px;
  height: 360px;

  h1{
    margin-top: 35px;
    font-size: 17px;
    font-weight: bold;
  }

  > p {
    margin: 20px 51px 10px 51px;
    font-size: 12px;
  }

  .pin-saved-key{
    margin: 45px 51px 17px 51px;

    h2{
      text-align: left;
      margin-bottom: 15px;
    }
    
    a {
      text-decoration-color: #0091ff;
    }

    .pin-saved-key-block{
      align-items: center;
      border: 1px solid #e5e2e2;
      border-radius: 4px;
      display: flex;
      flex-direction: row;

      .icon{
        background-image: url(../#{$_PATH_TO_IMAGES}/key-light.svg);
        background-size: contain;
        height: 18px;
        margin-left: 5px;
        width: 25px;
      }

      input{
        border: none;
        font-size: 12px;
        flex-grow: 1;
        margin-left: 3px;

        &:focus{
          outline: 0;
        }
      }

      button{
        border-radius: 4px;
        height: 25px;
        margin: 3px;
        padding: 4px;
        width: 45px;

        span{
          font-size: 11px;
        }
      }
    }

    >span{
      margin-top: 10px;
      display: block;
      font-size: 12px;
      text-align: center;

      b{
        color: #0091ff;
      }
    }
  }

  >button{
    bottom: 40px;
    transform: translateX(-50%);
    min-width: 80px;
    margin: 0 auto;
    position: absolute;
  }
}