.header-search{
  align-items: center;
  background-color: #1f242d;
  border-radius: 100px;
  height: 29.2px;
  justify-content: space-around;
  position: relative;
  width: 191px;
  z-index: 3;

  input{
    border: none;
    background: none;
    color: white;
    font-family: NunitoSans;
    font-weight: 200;
    letter-spacing: 0.3px;
    padding: 5px 0px;
    outline: none;
    flex: 1 0;
    width: 0;
  }
  
  input::-webkit-input-placeholder {
    color: #c8c8c8;
  }

  i{
    color: #c8c8c8;
    font-size: 20px;
    margin: 0 8px;
  }

  .header-search-toggle{
    align-items: center;
    display: flex;
    position: relative;

    i{
      color: #0091ff;
      cursor: pointer;
      font-size: 18px;
    }
  }
}