.header-search {
  width: 191px;
  height: 29.2px;
  border-radius: 100px;
  background-color: #1f242d;
  justify-content: space-around;
  align-items: center;
  z-index: 200; }
  .header-search input {
    border: none;
    background: none;
    padding: 5px 0px;
    outline: none;
    flex: 1 0;
    width: 0;
    color: white; }
  .header-search i {
    font-size: 20px;
    margin: 0 8px;
    color: white; }
  .header-search .icon-toogle-down {
    font-size: 12px;
    color: #0091ff; }
