.header-search{
  width: 191px;
  height: 29.2px;
  border-radius: 100px;
  background-color: #1f242d;
  justify-content: space-around;
  align-items: center;
  z-index: 200;

  input{
    border: none;
    background: none;
    color: white;
    font-family: NunitoSans;
    font-weight: 200;
    letter-spacing: 0.3px;
    padding: 5px 0px;
    outline: none;
    flex: 1 0;
    width: 0;
  }
  
  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c8c8c8;
  }

  i{
    font-size: 20px;
    margin: 0 8px;
    color: #c8c8c8;
  }

  .icon-toogle-down{
    font-size: 18px;
    color: #0091ff;
  }
}