.section-block-content {
  
}

.content-linked-devices {
  position: relative;
  top: -5px;

  .linked-device {
    border-bottom: 1px solid #e1e1e2;
    display: flex;
    height: 50px;
    font-size: 13px;
    width: 97%;

    &:hover{
      background-color: #f7fbff;
    }

    .device-icon {
      display: flex;
      width: 7%;
      margin: auto 0;
      i {
        color: #9b9b9b;
        margin: 0 auto;
        font-size: 22px;
      }
    }
    .device-name {
      display: flex;
      align-items: center;
      width: 25%;
      padding-left: 20px;
      color: #000;
      font-weight: bold;
    }
    .device-status {
      display: flex;
      align-items: center;
      width: 30%;
      padding-left: 15px;

      .current-device {
        color: #61b900;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
      }
      .device-connection-data {
        span {
          &:nth-child(1) {
            font-weight: 600;
            color: #000;
            &::after {
              color: #6c7280;
              content: ' - '
            }
          }
          &:nth-child(2) {
            color: #6c7280;
          }
        }
      }
    }
    .device-action {
      align-items: center;
      color: #d94e47;
      cursor: pointer;
      display: flex;
      font-size: 11px;
      font-weight: 300;
      padding-left: 15px;
      text-transform: uppercase;
      width: 45%;
    }
  }
}