#settings-general-delete-account {
button{
  color: #d94e47;

  i{
    font-size: 17px;
    font-weight: 600;
  }
}


  > .section-block-content{
    .section-block-content-item{
      &:nth-child(1){
        .delete-account-button{
          color: #d94e47;
          cursor: pointer;
          display: flex;
          align-items: center;
  
          i{
            font-size: 19px;
            font-weight: 600;
          }
  
          span{
            font-size: 13px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
