@import "./../styles/index.scss";

.content-linked-devices {
  flex-direction: column;
  position: relative;
  top: -5px;

  .linked-device {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: 1px solid transparent;
    height: 55px;
    font-size: 13px;
    width: 97%;
    min-width: 490px;

    > :nth-child(1) {
      width: 5%;
    }
    > :nth-child(2) {
      width: 20%;
    }
    > :nth-child(3) {
      width: 20%;
    }

    .device-icon {
      display: flex;
      align-items: center;
      font-size: 22px;
      align-content: center;
      i {
        color: #9b9b9b;
        margin: 0 auto;
      }
    }

    .device-name {
      display: flex;
      align-items: center;
      padding-left: 2%;
      
      span{
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
      }
    }

    .device-status {
      display: flex;
      align-items: center;
      padding-left: 5%;

      .current-device {
        color: #61b900;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
      }
      .device-connection-data {
        span {
          &:nth-child(1) {
            font-weight: 600;
            margin-right: 6px;
          }
          &:nth-child(2) {
            color: #6c7280;
          }
        }
      }
    }
    .device-action {
      display: flex;
      align-items: center;
      padding-left: 5%;
      color: #d94e47;
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

/* THEME
   ----------------------------- */
@mixin themable($_THEME, $_BACKGROUND_COLOR_SETTINGS_DEVICES_ITEM_HOVER, $_BORDER_COLOR_SETTINGS_DEVICES_ITEM, $_COLOR_TEXT_SETTINGS_DEVICES_TITLE){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .content-linked-devices {
      .linked-device {
        border-bottom-color: $_BORDER_COLOR_SETTINGS_DEVICES_ITEM;
    
        &:hover{
          background-color: $_BACKGROUND_COLOR_SETTINGS_DEVICES_ITEM_HOVER;
        }
    
        .device-name {
          span{
            color: $_COLOR_TEXT_SETTINGS_DEVICES_TITLE;
          }
        }

        .device-status {
          .device-connection-data {
            span {
              &:nth-child(1) {
                color: $_COLOR_TEXT_SETTINGS_DEVICES_TITLE;
              }
            }
          }
        }
      }
    }
  }
}

@include themable($_THEME_LIGHT, $_BACKGROUND_COLOR_SETTINGS_DEVICES_ITEM_HOVER_LIGHT, $_BORDER_COLOR_SETTINGS_DEVICES_ITEM_LIGHT, $_COLOR_TEXT_SETTINGS_DEVICES_TITLE_LIGHT);
@include themable($_THEME_DARK, $_BACKGROUND_COLOR_SETTINGS_DEVICES_ITEM_HOVER_DARK, $_BORDER_COLOR_SETTINGS_DEVICES_ITEM_DARK, $_COLOR_TEXT_SETTINGS_DEVICES_TITLE_DARK);