@import "./../styles/index.scss";

#setting-general{
  .section-block{
    &:nth-child(1){
      .section-block-content{
        .section-block-content-item{
          &:nth-child(1){
            align-items: center;

            .general-letters{
              align-items: center;
              background-color: rgba(74, 108, 98, 0.96);
              border-radius: 50%;
              display: flex;
              margin-right: 10px;
              height: 38px;
              width: 38px;
            
              span{
                color: white;
                font-size: 15px;
                font-weight: 300;
                margin: 0 auto;
              }
            }
          
            label{
              color: #4a4a4a;
              font-size: 14px;
              font-weight: 600;
            }
          }

          &:nth-child(2){
            flex-direction: column;

            > div{
              margin-top: 5px;

              &.profile-name {
                margin-top: 8px;
                color: #6a707e;
                font-size: 12px;
                font-weight: 300;
            
                &:hover > i {
                  display: inline;
                }

                span{
                  line-height: 21px;
                }
            
                i {
                  margin-left: 15px;
                  font-size: 14px;
                  line-height: 13px;
                  position: relative;
                  top: 2px;
                  display: none;
                }
              }

              input {
                border: none;
                border-bottom: 1px solid #c3c3c3;
                font-size: 12px;
                padding-left: 3px;
                margin-bottom: 2px;
                position: relative;
                width: 200px;
            
                &:focus{
                  outline: none;
                  border-bottom: 1px solid #0091ff;
                }
              }
            }
          }

          &:nth-child(3){
            flex-direction: column;

            .signature-switch {
              display: flex;
              margin: 10px 0px 7px 0px;

              .signature-switch-item {
                margin-right: 10px;

                .input-switch{
                  label{
                    margin-left: 0;
                  }
                }
              }

              .signature-switch-label {
                color: #6c7280;
                font-size: 12px;
                font-weight: 300;
              }
            }

            .signature-editor {
              font-family: initial !important;
              width: 75%;
              height: 220px;
              margin-bottom: 4px;
              border-radius: 4px;
              border: solid 1px #c3c3c3;
              overflow: auto;
          
              &::-webkit-scrollbar-track{
                background-color: rgba(233, 233, 233, 0.76);
                box-shadow: inset 0 0 10px rgba(220,220,220,0.1);
              }
          
              &::-webkit-scrollbar{
                width: 6.5px;
              }
          
              &::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background-color: #b0b2b4;
              }
          
              &.signature-editor-disabled {
                cursor: not-allowed;
                background-color: rgba($color: #d3d3d3, $alpha: 0.4);
          
                .rdw-option-wrapper,
                .rdw-dropdown-wrapper {
                  background-color: inherit;
                }
                .rdw-editor-wrapper {
                  pointer-events: none;
                }
              }
              
              &:focus{
                outline: none;
              }
            }
          }
        }
      }
    }

    &:nth-child(2){
      .section-block-content{
        .section-block-content-item{
          &:nth-child(1){
            .button-reset-password {
              background-color: #0091ff;
              width: 140px;
              height: 24px;
              text-transform: capitalize;
          
              span {
                font-size: 13px;
                font-weight: 300;
                position: relative;
                top: 1px;
              }
            }
          }
        }
      }
    }

    &:nth-child(3){
      .section-block-content{
        .section-block-content-item{
          &:nth-child(1){
            flex-direction: column;

            .two-factor-switch {
              display: flex;
              margin: 10px 0px 7px 0px;

              .two-factor-switch-item {
                margin-right: 10px;

                .input-switch{
                  label{
                    margin-left: 0;
                  }
                  input[type=checkbox] + label {
                    background-color: #b3b3b3;
                    &::before {
                      background-color: #b3b3b3;
                    }
                  }
                  input[type=checkbox]:checked + label {
                    background-color: #0091ff;
                    &::before {
                      background-color: #0091ff;
                    }
                  }
                }
              }

              .two-factor-switch-label {
                font-size: 13px;
                font-weight: 300;

                .two-factor-loading-label {
                  display: inline-block;
                  position: relative;
                  top: -17px;
                  left: 10px;
                  height: inherit;

                  > div {
                    box-sizing: border-box;
                    display: block;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    margin: 3px;
                    border: 3px solid rgb(211,211,211);
                    border-radius: 50%;
                    animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                    border-color: rgb(211,211,211) transparent transparent transparent;

                    &:nth-child(1) {
                      animation-delay: -0.45s;
                    }
                    &:nth-child(2) {
                      animation-delay: -0.3s;
                    }
                    &:nth-child(3) {
                      animation-delay: -0.15s;
                    }
                    @keyframes loading-ring {
                      0% { transform: rotate(0deg); }
                      100% { transform: rotate(360deg); }
                    }
                  }
                }

                .two-factor-warning-label {
                  color: #1a1a1a;
                }

                .two-factor-normal-label {
                  color: #6c7280;
                }
              }
            }
          }
        }
      }
    }

    &:nth-child(4){
      .section-block-content{
        .section-block-content-item{
          &:nth-child(1){
            .recovery-email {
              display: flex;
          
              .address {
                color: #636363;
                font-size: 14px;
                margin-right: 15px;
              }
          
              > div {
                display: flex;
          
                .recovery-email-confirmation-section {
                  align-items: center;
                  display: flex;
                  margin-right: 10px;
            
                  &.recovery-email-confirmed {
                    color: #8ac43f;
                  }
          
                  &.recovery-email-not-confirmed {
                    color: #d94e47;
                  }
          
                  .text {
                    font-size: 13px;
                    font-weight: 300;
                    position: relative;
                  }  
            
                  i {
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 18px;
                    position: relative;
                  }
                }
          
                .button-b{
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }

    &:nth-child(5){
      .section-block-content{
        .section-block-content-item{
          &:nth-child(1){
            flex-direction: column;

            .useful-link{
              color: #0091ff;
              font-size: 12px;
              font-weight: 400;
              margin-top: 7px;
              text-decoration: none;
            }
          }
        }
      }
    }

    &:nth-child(6){
      .section-block-content{
        .section-block-content-item{
          &:nth-child(1){
            .logout-button{
              color: #636363;
              cursor: pointer;
              display: flex;
              align-items: center;

              i{
                font-size: 17px;
                font-weight: 600;
                margin-right: 5px;
              }

              span{
                font-size: 13px;
                font-weight: 600;
              }
            }

            .logout-account-icon {
              width: 14px;
              height: 12px;
            }

            .logout-label {
              font-weight: 600;
              position: relative;
              bottom: 2px;
              left: 6px;
            }
          }
        }
      }
    }
  }
}