#settings-general-manual-sync {
  .button-manual-sync {
    background-color: #0091ff;
    width: 140px;
    height: 24px;
    text-transform: capitalize;
  
    span {
      font-size: 13px;
      font-weight: 300;
      position: relative;
      top: 1px;
    }
  }
}
