.general-letters{
  align-items: center;
  background-color: rgba(74, 108, 98, 0.96);
  border-radius: 50%;
  display: flex;
  margin-right: 30px;
  height: 60px;
  width: 60px;

  span{
    color: white;
    font-size: 22px;
    margin: 0 auto;
  }
}