.content-linked-devices {
  flex-direction: column;
  position: relative;
  top: -5px;

  .linked-device {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: 1px solid #e1e1e2;
    height: 55px;
    font-size: 13px;
    width: 97%;
    min-width: 490px;

    &:hover{
      background-color: #f7fbff;
    }

    > :nth-child(1) {
      width: 5%;
    }
    > :nth-child(2) {
      width: 20%;
    }
    > :nth-child(3) {
      width: 20%;
    }

    .device-icon {
      display: flex;
      align-items: center;
      font-size: 22px;
      align-content: center;
      i {
        color: #9b9b9b;
        margin: 0 auto;
      }
    }
    .device-name {
      display: flex;
      align-items: center;
      color: #000;
      padding-left: 2%;
      font-weight: bold;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .device-status {
      display: flex;
      align-items: center;
      padding-left: 5%;

      .current-device {
        color: #61b900;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
      }
      .device-connection-data {
        span {
          &:nth-child(1) {
            font-weight: 600;
            color: #000;
            margin-right: 6px;
          }
          &:nth-child(2) {
            color: #6c7280;
          }
        }
      }
    }
    .device-action {
      display: flex;
      align-items: center;
      padding-left: 5%;
      color: #d94e47;
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}