@import "./../styles/index.scss";

.navigation-app-expand{
  width: 210px;
}

.navigation-app{
  display: inline-table;
  height: 100%;

  header{
    align-items: center;
    display: flex;
    height: $_HEIGHT_HEADER;
    position: relative;

    i{
      display: none;
    }
  }
}

.header-icon{
  align-items: center;
  background-image: url(../#{$_PATH_TO_IMAGES}/header-icon.png);
  background-position: center;
  background-size: 100%;
  height: 36px;
  margin: 0 auto;
  width: 135px;
}

.navigation-partial-mail{
  border-top: solid 1px #f3f3f3;
  display: flex;
  height: calc(100% - 61px);
  flex-direction: column;
  overflow-y: auto;
  width: 100%;

  nav ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      text-align: center;

      span {
        color: black;
        display: block;
        font-family: NunitoSans;
        font-size: 13px;
        margin-left: 15px;
        text-align: left;
        text-decoration: none;
        width: calc(100% - 131px);
      }
    }
  }
}

.navigation-partial-mail::-webkit-scrollbar-track{
  background-color: rgba(233, 233, 233, 0.76);
  box-shadow: inset 0 0 10px rgba(220,220,220,0.1);
}

.navigation-partial-mail::-webkit-scrollbar{
  width: 6.5px;
  position: absolute;
  top: 0;
  right: 0;
}

.navigation-partial-mail::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #d8d8d8;
}

.nav-item-free{
  text-align: center;
  width: 100%;
}

.button-compose{
  background-color: #0091ff;
  margin: 15px 0;
  width: 141px;

  i{
    left: -8px;
    margin-right: 10px;
  }
}


.nav-item-more{
  height: auto;
  flex-direction: column;

  .nav-item-container{
    align-items: center;
    display: flex;
    height: 40px;
    margin-top: 20px;
    width: 100%;
  }

  ul{
    overflow: auto;
    width: 100%;
  }
}

.nav-item-more-selected{
  span{
    font-weight: 600;
  }
}

.nav-item-collapse{
  height: 75px;
}

.line-separator{
  border-top: solid 1px #f3f3f3;
  left: 30px;
  height: 1px;
  margin: 10px 0;
  position: absolute;
  top: 0;
  width: 144px;
}

.nav-item-option{
  color: #d8d8d8;
  font-size: 20px;
}

.navigation-app-collapse{
  width: 79px;

  header{
    background-color: #0091ff;

    &:before{
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      left: 79px;
      top: 24px;
      border-left: 8px solid #0091ff;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }

    i{
      color: white;
      display: inline;
      font-size: 38px;
      margin: 0 auto;
    }
  }

  .header-icon{
    display: none;
  }

  button.button-compose{
    border-radius: 50%;
    height: 39px;
    width: 39px;
    padding: 0;

    i{
      font-size: 19px;
      left: 1px;
      margin: 0;
      top: 0px;
    }
    span{
      display: none;
    }
  }

  .navigation-partial-mail nav ul li{
    
    &:last-child{
      display: none;
    }

    span{
      display: none
    }
  }

  .nav-item-icon{
    font-size: 18px;
    height: 18px;
    margin: 0 auto;
    width: auto;
  }

  .label-container{
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .navigation-app{
    width: 79px;

    header{
      background-color: #0091ff;

      &:before{
        display: none;
      }

      i{
        color: white;
        display: inline;
        font-size: 38px;
        margin: 0 auto;
      }
    }
  }

  .header-icon{
    display: none;
  }

  button.button-compose{
    border-radius: 50%;
    height: 39px;
    width: 39px;
    padding: 0;

    i{
      font-size: 19px;
      left: 1px;
      margin: 0;
      top: 0px;
    }
    span{
      display: none;
    }
  }

  .navigation-partial-mail nav ul li{
    
    &:last-child{
      display: none;
    }

    span{
      display: none
    }
  }

  .nav-item-icon{
    font-size: 18px;
    height: 18px;
    margin: 0 auto;
    width: auto;
  }

  .label-container{
    display: none;
  }
}