@import "./../styles/index.scss";

.nav-item{
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 40px;
  position: relative;
  width: 100%;

  .nav-item-icon{
    color: #d8d8d8;
    height: 18px;
    margin: 0 10px 0 32px;
    width: 15px;
  }

  span{
    font-weight: 300;
  }

  &:hover{
    background-color: #f7fbff;
  }

  &:last-child {
    &:hover{
      background-color: transparent;
    }
  }

  .nav-item-badge{
    margin-left: 15px;
    
    .badge{
      background-color: #65bdff;
      border-radius: 13px;
      color: white;
      font-size: 11px;
      font-weight: 500;
      height: 17px;
      line-height: 17px;
      margin: 0;
      min-width: 24px;
      padding: 0 1px;
      text-align: center;
      width: auto;
    }
  }
}

.nav-item-selected{
  background-color: #f2f8ff;

  .nav-item-icon{
    color: black;
  }

  span{
    font-weight: 600;
  }
}

@mixin collapse-nav-item-icon{
  font-size: 18px;
  margin: 0 auto;
  width: auto;
}

@mixin collapse-nav-item-badge {
  margin: 0;
  position: absolute;
  right: 8px;
  top: 5px;
}

.sidebar-app-collapse .nav-item{
  .nav-item-icon{
    @include collapse-nav-item-icon;
  }
  .nav-item-badge{
    @include collapse-nav-item-badge
  }
}

@media screen and (max-width: $_MAX_WIDTH_SCREEN) {
  .nav-item{
    .nav-item-icon{
      @include collapse-nav-item-icon;
    }

    .nav-item-badge{
      @include collapse-nav-item-badge
    }
  }
}