@import "./../styles/index.scss";

.nav-item-label{
  align-items: center;
  cursor: pointer;
  height: 26px;
  width: 100%;
  overflow: hidden;

  div{
    border-radius: 50%;
    margin: 0 12px 0 55px;
    height: 5px;
    width: 5px;
  }

  label{
    cursor: inherit;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    width: calc(100% - 100px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  input{
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    padding: 0 1px;
    width: calc(100% - 100px);
  }
}

/* THEME
   ----------------------------- */
@mixin themable($_THEME, $_COLOR_TEXT_NAVITEM, $_BACKGROUND_COLOR_NAVITEM_SELECTED, $_COLOR_TEXT_NAVITEM_SELECTED){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .nav-item-label{

      &.nav-item-selected{
        background-color: $_BACKGROUND_COLOR_NAVITEM_SELECTED;

        >span{
          color: $_COLOR_TEXT_NAVITEM_SELECTED;
        }
      }

      label{
        color: $_COLOR_TEXT_NAVITEM;
      }
    }
  }
}
  
@include themable($_THEME_LIGHT, $_COLOR_TEXT_NAVITEM_LIGHT, $_BACKGROUND_COLOR_NAVITEM_SELECTED_LIGHT, $_COLOR_TEXT_NAVITEM_SELECTED_LIGHT);
@include themable($_THEME_DARK, $_COLOR_TEXT_NAVITEM_DARK, $_BACKGROUND_COLOR_NAVITEM_SELECTED_DARK, $_COLOR_TEXT_NAVITEM_SELECTED_DARK);