/***

FILE: index.css

TABLE OF CONTENTS

1.- PATHS
2.- SIZES

***/
/* 1.- PATHS
   ----------------------------- */
/* 2.- SIZES
   ----------------------------- */
aside.navigation-app {
  display: inline-table;
  height: 100%;
  width: 210px; }
  aside.navigation-app header {
    align-items: center;
    display: flex;
    height: 61px; }

.header-icon {
  align-items: center;
  background-image: url(https://cdn.criptext.com/Criptext-Email/images/header-icon.png);
  background-position: center;
  background-size: 100%;
  height: 33px;
  margin: 0 auto;
  width: 135px; }

.navigation-partial-mail {
  border-right: solid 1px #d8d8d8;
  border-top: solid 1px #d8d8d8;
  display: flex;
  height: calc(100% - 61px);
  flex-direction: column;
  overflow: auto;
  width: calc(100% - 1px); }
  .navigation-partial-mail nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .navigation-partial-mail nav ul li {
      display: flex;
      text-align: center; }
      .navigation-partial-mail nav ul li a {
        color: black;
        display: block;
        font-family: NunitoSans;
        font-size: 13px;
        margin-left: 15px;
        text-align: left;
        text-decoration: none;
        width: calc(100% - 131px); }

.nav-item-free {
  text-align: center;
  width: 100%; }

.button-compose {
  background-color: #0091ff;
  margin: 15px 0;
  width: 141px; }
  .button-compose i {
    left: -8px;
    margin-right: 10px; }

.nav-item-more {
  height: auto;
  flex-direction: column; }
  .nav-item-more .nav-item-container {
    align-items: center;
    display: flex;
    height: 37px;
    width: 100%; }
  .nav-item-more ul {
    max-height: 75px;
    overflow: auto;
    width: 100%; }

.nav-item-collapse {
  height: 75px; }

.line-separator {
  border-top: solid 1px #d8d8d8;
  left: 30px;
  height: 1px;
  position: absolute;
  top: 0;
  width: 144px; }

.nav-item-option {
  color: #d8d8d8;
  font-size: 10px; }

.nav-item-label {
  align-items: center;
  height: 25px;
  width: 100%; }
  .nav-item-label div {
    background: #7ed321;
    border-radius: 3px;
    margin: 0 12px 0 55px;
    height: 6px;
    width: 6px; }
  .nav-item-label span {
    font-family: NunitoSans;
    font-size: 13px; }
