@import "./../styles/index.scss";

.nav-item-label{
  align-items: center;
  height: 26px;
  width: 100%;
  overflow: hidden;

  div{
    border-radius: 50%;
    margin: 0 12px 0 55px;
    height: 5px;
    width: 5px;
  }

  label{
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    width: calc(100% - 100px);
    text-overflow: ellipsis;
  }

  input{
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    padding: 0 1px;
    width: calc(100% - 100px);
  }
}

/* THEME
   ----------------------------- */
@mixin themable($_THEME, $_COLOR_TEXT_NAVITEM){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .nav-item-label{
      label{
        color: $_COLOR_TEXT_NAVITEM;
      }
    }
  }
}
  
@include themable($_THEME_LIGHT, $_COLOR_TEXT_NAVITEM_LIGHT);
@include themable($_THEME_DARK, $_COLOR_TEXT_NAVITEM_DARK);