.nav-item{
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 40px;
  position: relative;
  width: 100%;

  span{
    font-weight: 300;
  }

  &:hover{
    background-color: #f7fbff;
  }

  &:last-child {
    &:hover{
      background-color: transparent;
    }
  }
}

.nav-item-selected{
  background-color: #f2f8ff;

  .nav-item-icon{
    color: black;
  }

  span{
    font-weight: 600;
  }
}

.nav-item-icon{
  color: #d8d8d8;
  height: 18px;
  margin: 0 10px 0 32px;
  width: 15px;
}

.nav-item-notif{
  align-items: center;
  background-color: #65bdff;
  border-radius: 13px;
  display: flex;
  height: 17px;
  margin-left: 15px;
  width: 26px;

  span {
    color: white;
    display: block;
    font-family: NunitoSans;
    font-size: 11px;
    margin: 0 auto;
  }
}
