.header-action {
  display: flex; }
  .header-action .labels-tooltip {
    background-color: #e1e1e1 !important;
    color: black !important;
    font-weight: normal;
    font-size: 10.5px !important;
    border-radius: 3px !important;
    padding: 4px 16px !important; }
    .header-action .labels-tooltip .tooltip-tip:after {
      background-color: #e1e1e1; }
