@import "./../styles/index.scss";

.header-action{
  display: flex;

  .labels-tooltip{
    color: black !important;
    font-weight: normal;
    font-size: 10.5px !important;
    border-radius: 3px !important;
    padding: 4px 16px !important;
  }
}

/* THEME
   ----------------------------- */
   @mixin themable($_THEME, $_BACKGROUND_COLOR_TOOLTIP){
    [data-theme^=#{$_THEME}],
    [data-theme] [data-theme^=#{$_THEME}] {
      .header-action{
        .labels-tooltip{
          background-color: $_BACKGROUND_COLOR_TOOLTIP !important;;

          .tooltip-tip{
            &:after{
              background-color: $_BACKGROUND_COLOR_TOOLTIP;
            }
          }
        }
      }
    }
  }
  
  @include themable($_THEME_LIGHT, $_BACKGROUND_COLOR_TOOLTIP_LIGHT);
  @include themable($_THEME_DARK, $_BACKGROUND_COLOR_TOOLTIP_DARK);