.thread-container{
  height: 100%;
  width: 100%;
}

.thread-content{
  background-color: #f7f7f8;
  height: calc(100% - 61px);
  overflow: auto;
}

.thread-content::-webkit-scrollbar-track{
  background-color: rgba(233, 233, 233, 0.76);
  box-shadow: inset 0 0 10px rgba(220,220,220,0.1);
}

.thread-content::-webkit-scrollbar{
  width: 6.5px;
}

.thread-content::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #b0b2b4;
}

.thread-info{
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin: 0 25px;
  width: calc(100% - 50px);

  h1{
    font-family: NunitoSans;
    font-size: 21px;
    font-weight: 600;
    margin: 22px 0 0;
  }
}

.thread-labels{
  display: flex;
  margin-bottom: 12px;
}

.thread-emails{
  width: calc(100% - 50px);
  margin: 0 25px 25px;
}