@import "./../styles/index.scss";

.thread-container{
  height: 100%;
  width: 100%;
  position: relative;

  .cptx-thread-content{
    height: calc(100% - 61px);

    .thread-info{
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      margin: 0 25px;
      min-height: 72px;
      width: calc(100% - 50px);
    
      .thread-info-title{
        background-color: transparent;
        display: flex;
        margin: 26px 0 0 0;
        width: calc(100% - 50px);
    
        h1{
          background-color: transparent;
          font-family: NunitoSans;
          font-size: 21px;
          font-weight: 700;
          line-height: 21px;
          margin: 0 10px 0 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

.thread-starred-status{
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  margin: 26px 0 0 0;

  &.starred-on{
    i{
      color: #ffc832;
    }
  }

  &.starred-off{
    i{
      color: #f6bc1f;
    }
  }

  i{
    background-color: transparent;
    cursor: pointer;
    font-size: 19px;
  }
}

.cptx-thread-emails{
  background-color: transparent;
  height: calc(100% - 72px);
  overflow: auto;
  padding: 0 25px;
  width: calc(100% - 50px);

  >div{
    background-color: transparent;
  }
}

.thread-collapsed {
  height: 0;
  position: relative;

  .thread-collapsed-clickable {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 36px;
    margin-top: -21px;
    cursor: pointer;

    .thread-collapsed-counter {
      height: 36px;
      width: 36px;
      margin-left: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid;
      border-radius: 30px;
    }
  }
}

/* THEME
   ----------------------------- */
@mixin themable($_THEME, $_BACKGROUND_COLOR_MAIN, $_COLOR_TEXT_MAIN_TITLE, $_BACKGROUND_COLOR_THREAD_ITEM, $_COLOR_TEXT_THREAD_EMAIL_EXPAND, $_BORDER_COLOR_THREAD_EMAIL_EXPAND){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .cptx-thread-content{
      background-color: $_BACKGROUND_COLOR_MAIN;

      .thread-info{
        .thread-info-title{
          h1{
            color: $_COLOR_TEXT_MAIN_TITLE;
          }
        }
      }
    }

    .thread-collapsed {
      .thread-collapsed-clickable {
        .thread-collapsed-counter {
          background: $_BACKGROUND_COLOR_THREAD_ITEM;
          border-color: $_BORDER_COLOR_THREAD_EMAIL_EXPAND;
          color: $_COLOR_TEXT_THREAD_EMAIL_EXPAND;
        }
      }
    }
    
  }
}
  
@include themable($_THEME_LIGHT, $_BACKGROUND_COLOR_MAIN_LIGHT, $_COLOR_TEXT_MAIN_TITLE_LIGHT, $_BACKGROUND_COLOR_THREAD_ITEM_UNREAD_LIGHT, $_COLOR_TEXT_THREAD_EMAIL_EXPAND_LIGHT, $_BORDER_COLOR_THREAD_EMAIL_EXPAND_LIGHT);
@include themable($_THEME_DARK, $_BACKGROUND_COLOR_MAIN_DARK, $_COLOR_TEXT_MAIN_TITLE_DARK, $_BACKGROUND_COLOR_THREAD_ITEM_UNREAD_DARK, $_COLOR_TEXT_THREAD_EMAIL_EXPAND_DARK, $_BORDER_COLOR_THREAD_EMAIL_EXPAND_DARK);