.thread-container{
  height: 100%;
  width: 100%;
}

.thread-content{
  background-color: #f7f7f8;
  height: calc(100% - 61px);
  overflow: auto;
}

.thread-info{
  width: 100%;
  height: 60px;
}

.thread-emails{
  width: calc(100% - 50px);
  margin: 0 25px 25px;
}