/***

FILE: index.css

TABLE OF CONTENTS

1.- PATHS
2.- SIZES

***/
/* 1.- PATHS
   ----------------------------- */
/* 2.- SIZES
   ----------------------------- */
.thread-header {
  background-color: #373a45;
  padding: 0px 35px;
  height: 61px;
  font-family: 'NunitoSans'; }
