@import "./../styles/index.scss";

.tooltip-menu-container{
  position: absolute;
}

.tooltip-menu-wrapper{
  min-width: 204px;
  box-shadow: 1px 7px 19px 0 rgba(0, 0, 0, 0.14);
  border: solid 1px transparent;
  border-radius: 6px;
  left: 601px;
  padding: 10px 0px;
  position: fixed;
  top: 60px;
  z-index: 200;
  z-index: 11;

  h3{
    color: black;
    font-family: NunitoSans;
    font-size: 13px;
    font-weight: 700;
    margin: 5px 0px;
    padding-left: 16px;
  }
  
  .tooltip-menu-tip{
    width: 40px;
    height: 11px;
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateY(-100%);
    overflow: hidden;
  
    &:after{
      content: "";
      height: 14px;
      width: 15px;
      left: 50%;
      transform: translateX(-50%) translateY(60%) rotate(45deg);
      box-shadow: 0 0 5px 0 rgba(0, 0, 3, 0.13);
      position: absolute;
    }
  }

  .tip-to-right{
    left: 7%;
  }

  .tip-to-left{
    left: 95.5%;
  }

}

.tooltip-menu-overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* THEME
   ----------------------------- */
@mixin themable($_THEME, $_BACKGROUND_COLOR_POPOVER, $_BORDER_COLOR_POPOVER, $_COLOR_TEXT_POPOVER){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .tooltip-menu-wrapper{
      background-color: $_BACKGROUND_COLOR_POPOVER;
      border-color: $_BORDER_COLOR_POPOVER;
      color: $_COLOR_TEXT_POPOVER;

      .tooltip-menu-tip{
        &:after{
          background-color: $_BACKGROUND_COLOR_POPOVER;
        }
      }
    }
  }
}
  
@include themable($_THEME_LIGHT, $_BACKGROUND_COLOR_POPOVER_LIGHT, $_BORDER_COLOR_POPOVER_LIGHT, $_COLOR_TEXT_POPOVER_LIGHT);
@include themable($_THEME_DARK, $_BACKGROUND_COLOR_POPOVER_DARK, $_BORDER_COLOR_POPOVER_DARK, $_COLOR_TEXT_POPOVER_DARK);