.tooltip-menu-container {
  position: absolute; }

.tooltip-menu-wrapper {
  min-width: 204px;
  background-color: #fdfdfd;
  box-shadow: 1px 7px 19px 0 rgba(0, 0, 0, 0.14);
  border: solid 0.5px #ececee;
  color: black;
  position: fixed;
  top: 60px;
  left: 601px;
  z-index: 200;
  border-radius: 2px;
  z-index: 10;
  padding: 10px 0px; }
  .tooltip-menu-wrapper h3 {
    padding: 0px 14px;
    margin: 5px 0px; }
  .tooltip-menu-wrapper .tooltip-menu-tip {
    width: 40px;
    height: 11px;
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateY(-100%);
    overflow: hidden; }
    .tooltip-menu-wrapper .tooltip-menu-tip:after {
      content: "";
      height: 15px;
      width: 15px;
      left: 50%;
      background-color: white;
      transform: translateX(-50%) translateY(60%) rotate(45deg);
      box-shadow: 0 0 5px 0 rgba(0, 0, 3, 0.13);
      position: absolute; }
  .tooltip-menu-wrapper .tip-to-right {
    left: 7%; }
  .tooltip-menu-wrapper .tip-to-left {
    left: 93%; }

.tooltip-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5; }
