@import '../../styles/index.scss';

.pin-display {

  display: flex;
  flex-direction: column;
  height: 100%;

  .pin-display-subtitle {
    font-size: 15px;
    margin-top: 12px;
    font-weight: 300;
  }

  .pin-display-pin {
    font-weight: bold;
    letter-spacing: 10px;
    flex-grow: 1;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@mixin themable($_THEME, $_TEXT_OPAQUE_COLOR, $_TEXT_COLOR){
  [data-theme^=#{$_THEME}],
  [data-theme] [data-theme^=#{$_THEME}] {
    .pin-display {
    
      .pin-display-subtitle {
        color: $_TEXT_OPAQUE_COLOR;
      }
    
      .pin-display-pin {
        color: $_TEXT_COLOR;
      }
    }
  }
}

@include themable($_THEME_LIGHT, $_TEXT_OPAQUE_COLOR_LIGHT, $_TEXT_COLOR_LIGHT);
@include themable($_THEME_DARK, $_TEXT_OPAQUE_COLOR_DARK, $_TEXT_COLOR_DARK);