@import "./../styles/index.scss";


.dialog-body {
  font-family: 'NunitoSans';
  width: 400px;
  height: 280px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: inset 0 0 1px #000000;

  .header {
    height: 30px;
    border-radius: 5px 5px 0px 0px;
    background-color: #e0e0e0;
  }

  .content{
    padding: 24px 35px 35px 35px;
    font-weight: normal;
    text-align: left;
    color: #373a45;

    .title {
      font-size: 16px;
      font-weight: 600;
      text-align: left;
      color: #0091ff;
      margin: 0px 0px 13px 0px;
    }

    .message-empty-recovery-email {
      font-size: 14px;
      position: relative;
      top: 17px;
      margin: 3px;
    }
    .message-lost-all-devices {
      font-size: 13px;
      position: relative;
      top: -5px;
    }
    .message-forgot-sent-link {
      font-size: 15px;
      position: relative;
      top: 20px;
      p {
        margin-bottom: 10px;
      }
    }
    .message-forgot-empty-email {
      font-size: 15px;
      position: relative;
      top: 23px;
      margin: 3px;
    }
    .message-permanent-delete-thread {
      font-size: 14px;
      position: relative;
      top: 15px;
    }

    .options {
      position: absolute;
      bottom: 30px;
      .cancel {
        position: absolute;
        left: 5px;
        bottom: 0px;
        border: none;
        outline: none;
        border-radius: 100px;
        padding: 8.5px;
        background-color: #373a45;
        margin: 0px;
        width: 132px;
        margin-right: 56px;
        span {
          font-size: 12px;
          color: #fff;
          font-weight: 600;
        }
      }
      .confirm {
        position: absolute;
        left: 190px;
        bottom: 0px;
        border: none;
        outline: none;
        border-radius: 100px;
        padding: 8.5px;
        background-color: #0091ff;
        margin: 0px;
        width: 132px;
        span {
          font-size: 12px;
          color: #fff;
          font-weight: 600;
        }
      }
    }

  }
}