
/***

FILE: index.css

TABLE OF CONTENTS

1.- PATHS
2.- SIZES

***/

/* 1.- PATHS
   ----------------------------- */
$_PATH_TO_IMAGES: "https://cdn.criptext.com/Criptext-Email/images";
$_PATH_TO_FONTS: "https://cdn.criptext.com/Criptext-Email/fonts";

/* 2.- SIZES
   ----------------------------- */
$_HEIGHT_HEADER: 61px;