
/***

FILE: index.css

TABLE OF CONTENTS

1.- PATHS
2.- SIZES
3.- ANIMATION
4.- THEME

***/

/* 1.- PATHS
   ----------------------------- */
$_PATH_TO_IMAGES: "./images";
$_PATH_TO_FONTS: "./fonts";

/* 2.- SIZES
   ----------------------------- */
$_HEIGHT_HEADER: 61px;
$_MAX_WIDTH_SCREEN: 800px;

/* 3.- ANIMATION
   ----------------------------- */
$_DELAY_NAVIGATION_FEED_EXPAND: 200ms;
$_DURATION_NAVIGATION_FEED_EXPAND: 300ms;
$_DURATION_NAVIGATION_FEED_COLLAPSE: 300ms;

/* 4.- THEME
   ----------------------------- */
$_THEME_LIGHT: 'light';
$_THEME_DARK: 'dark';

/* 4.1- THEME LIGHT
   ----------------------------- */
$_BACKGROUND_COLOR_ACTIVITY_LIGHT: white;
$_BACKGROUND_COLOR_ACTIVITY_ITEM_UNREAD_LIGHT: #f2f8ff;
$_BACKGROUND_COLOR_SIDEBAR_LIGHT: white;
$_BACKGROUND_COLOR_MAIN_LIGHT: #f7f7f8;
$_BACKGROUND_COLOR_MAIN_EMPTY_LIGHT: white;
$_BACKGROUND_COLOR_MAIN_EMPTY_LOADING_LIGHT: #d0eaff;
$_BACKGROUND_COLOR_MAIN_EMPTY_LOADING_BAR_LIGHT: #72befb;
$_BACKGROUND_COLOR_NAVITEM_SELECTED_LIGHT: #f2f8ff;
$_BACKGROUND_COLOR_NAVITEM_HOVER_LIGHT: #f7fbff;
$_BACKGROUND_COLOR_THREAD_ITEM_UNREAD_LIGHT: white;
$_BACKGROUND_COLOR_THREAD_ITEM_READ_LIGHT: #f4f4f4;
$_BACKGROUND_COLOR_THREAD_ITEM_CHECKED_LIGHT: #fdfbea;
$_BACKGROUND_COLOR_THREAD_ITEM_HOVER_LIGHT: none;
$_BACKGROUND_COLOR_THREAD_ITEM_EMAILS_SIZE_LIGHT: #cecece;
$_BACKGROUND_COLOR_THREAD_ITEM_BUTTON_OPTION_LIGHT: #f7f7f8;
$_BACKGROUND_COLOR_THREAD_ITEM_LABELS_LIGHT: #e5e5e6;
$_BACKGROUND_COLOR_EMAIL_LIGHT: white;
$_BACKGROUND_COLOR_EMAIL_LOADING_GRADIENT1_LIGHT: #e3ebf3;
$_BACKGROUND_COLOR_EMAIL_LOADING_GRADIENT2_LIGHT: #ecf2f8;
$_BACKGROUND_COLOR_EMAIL_LOADING_GRADIENT3_LIGHT: #dee7f0;
$_BACKGROUND_COLOR_EMAIL_BUTTON_SEGMENT_LIGHT: white;
$_BACKGROUND_COLOR_EMAIL_DOTS_COLLAPSED_LIGHT: #f3f3f3;
$_BACKGROUND_COLOR_EMAIL_DOTS_COLLAPSED_HOVER_LIGHT: #e9eaeb;
$_BACKGROUND_COLOR_EMAIL_DOTS_EXPANDED_LIGHT: #afafaf;
$_BACKGROUND_COLOR_EMAIL_DOTS_EXPANDED_HOVER_LIGHT: #a3a2a2;
$_BACKGROUND_COLOR_POPOVER_LIGHT: #fdfdfd;
$_BACKGROUND_COLOR_POPOVER_EMAIL_ACTION_ITEM_HOVER_LIGHT: #edf5ff;
$_BACKGROUND_COLOR_SELECT_LIGHT: #f0f0f0;
$_BACKGROUND_COLOR_BUTTON-B_LIGHT: white;
$_BACKGROUND_COLOR_TOOLTIP_LIGHT: white;
$_BACKGROUND_COLOR_SEARCH_HOVER_LIGHT: #d8d8d8;
$_BACKGROUND_COLOR_SETTINGS_LIGHT: white;
$_BACKGROUND_COLOR_SETTINGS_TITLE_LIGHT: #f7f7f7;
$_BACKGROUND_COLOR_SETTINGS_SIGNATURE_LIGHT: white;
$_BACKGROUND_COLOR_SETTINGS_SIGNATURE_BUTTON_LIGHT: white;
$_BACKGROUND_COLOR_SETTINGS_SIGNATURE_BUTTON_HOVER_LIGHT: #ebebeb;
$_BACKGROUND_COLOR_SETTINGS_DEVICES_ITEM_HOVER_LIGHT: #f7fbff;
$_BACKGROUND_COLOR_POPUP_LIGHT: white;
$_BACKGROUND_COLOR_CRASH_APP_LIGHT: white;
$_BACKGROUND_FILE_LIGHT: white;
$_BACKGROUND_FILE_HOVER_LIGHT: #f8f7f7;
$_BACKGROUND_FILE_BUTTON_LIGHT: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, #f8f7f7 50%);
$_BACKGROUND_COLOR_SCROLLBAR_LIGHT: rgba(228, 228, 228, 0.5);
$_BACKGROUND_COLOR_SCROLLBAR_CONTROL_LIGHT: rgba(176, 178, 180, 0.475);
$_BACKGROUND_COLOR_FILE_UNAVAILABLE_LIGHT: #e3e3e3;
$_COLOR_ICON_NAVITEM_LIGHT: #d3d3d3;
$_COLOR_ICON_NAVITEM_SELECTED_LIGHT: black;
$_COLOR_ICON_THREAD_ITEM_BUTTON_OPTION_LIGHT: #878e98;
$_COLOR_ICON_EMAIL_BUTTON_OPTION_LIGHT: #9197a1;
$_COLOR_ICON_EMAIL_BUTTON_SEGMENT_LIGHT: #8a919b;
$_COLOR_ICON_EMAIL_DOTS_COLLAPSED_LIGHT: #4a4a4a;
$_COLOR_ICON_EMAIL_DOTS_COLLAPSED_HOVER_LIGHT: #3b3b3b;
$_COLOR_ICON_EMAIL_DOTS_EXPANDED_LIGHT: #f3f3f3;
$_COLOR_ICON_EMAIL_DOTS_EXPANDED_HOVER_LIGHT: #fcfcfc;
$_COLOR_TEXT_CONTAINER_EMPTY_TITLE_LIGHT: black;
$_COLOR_TEXT_ACTIVITY_ITEM_TITLE_LIGHT: black;
$_COLOR_TEXT_NAVITEM_LIGHT: #373a45;
$_COLOR_TEXT_NAVITEM_SELECTED_LIGHT: black;
$_COLOR_TEXT_THREAD_ITEM_RECIPIENT_LIGHT: black;
$_COLOR_TEXT_THREAD_ITEM_SUBJECT_LIGHT: black;
$_COLOR_TEXT_THREAD_ITEM_CONTENT_LIGHT: #6a707e;
$_COLOR_TEXT_THREAD_ITEM_EMAILS_SIZE_LIGHT: white;
$_COLOR_TEXT_THREAD_ITEM_LABELS_LIGHT: #6a707e;
$_COLOR_TEXT_MAIN_TITLE_LIGHT: black;
$_COLOR_TEXT_MAIN_SWITCH_UNREAD_LIGHT: black;
$_COLOR_TEXT_MAIN_SWITCH_ALL_LIGHT: #858688;
$_COLOR_TEXT_THREAD_EMAIL_EXPAND_LIGHT: #a1a2a3;
$_COLOR_TEXT_EMAIL_SUBJECT_LIGHT: black;
$_COLOR_TEXT_EMAIL_PREVIEW_LIGHT: #4a4a4a;
$_COLOR_TEXT_EMAIL_CONTENT_LIGHT: black;
$_COLOR_TEXT_EMAIL_CONTENT_LINK_LIGHT: none;
$_COLOR_TEXT_EMAIL_BUTTON_SEGMENT_LIGHT: black;
$_COLOR_TEXT_POPOVER_LIGHT: black;
$_COLOR_TEXT_CONTACT_TAG_NAME_LIGHT: black;
$_COLOR_TEXT_CONTACT_TAG_EMAIL_LIGHT: #0091ff;
$_COLOR_TEXT_CHECKBOX_LIGHT: #6a707e;
$_COLOR_TEXT_SEARCH_OPTION_LIGHT: #6a707e;
$_COLOR_TEXT_SEARCH_HINT_LIGHT: #6a707e;
$_COLOR_TEXT_SELECT_LIGHT: #6a707e;
$_COLOR_TEXT_TOOLTIP_LIGHT: black;
$_COLOR_TEXT_SETTINGS_TITLE_LIGHT: black;
$_COLOR_TEXT_SETTINGS_CONTENT_LIGHT: #6a707e;
$_COLOR_TEXT_SETTINGS_SIGNATURE_LIGHT: black;
$_COLOR_TEXT_SETTINGS_DEVICES_TITLE_LIGHT: black;
$_COLOR_TEXT_POPUP_TITLE_LIGHT: black;
$_COLOR_TEXT_POPUP_SUBTITLE_LIGHT: black;
$_COLOR_TEXT_POPUP_PARAGRAPH_LIGHT: #373a45;
$_COLOR_TEXT_POPUP_BUTTON_CANCEL_LIGHT: black;
$_COLOR_TEXT_INPUT_LIGHT: black;
$_COLOR_TEXT_FILE_TITLE_LIGHT: black;
$_COLOR_TEXT_CRASH_TITLE_LIGHT: black;
$_COLOR_TEXT_CRASH_COUNTER_LIGHT: #939393;
$_COLOR_TEXT_PRIMARY_PROFILE_SHORTCUT_LIGHT: #373a45;
$_BORDER_COLOR_NAV_LIGHT: #f3f3f3;
$_BORDER_COLOR_THREAD_ITEM_LIGHT: #ebebeb;
$_BORDER_COLOR_EMAIL_LIGHT: #dcdde0;
$_BORDER_COLOR_EMAIL_UNSEND_LIGHT: #eeb6b7;
$_BORDER_COLOR_EMAIL_BUTTON_SEGMENT_LIGHT: #d8d8d8;
$_BORDER_COLOR_EMAIL_DOTS_COLLAPSED_LIGHT: #e6e6e6;
$_BORDER_COLOR_EMAIL_DOTS_COLLAPSED_HOVER_LIGHT: #e6e6e6;
$_BORDER_COLOR_EMAIL_DOTS_EXPANDED_LIGHT: #9e9d9d;
$_BORDER_COLOR_EMAIL_DOTS_EXPANDED_HOVER_LIGHT: #9e9d9d;
$_BORDER_COLOR_POPOVER_LIGHT: #ececee;
$_BORDER_COLOR_SEARCH_OPTION_LIGHT: #c8c8ca;
$_BORDER_COLOR_SETTINGS_HEADER_LIGHT: #e5e5e5;
$_BORDER_COLOR_SETTINGS_SIGNATURE_LIGHT: #c3c3c3;
$_BORDER_COLOR_SETTINGS_SIGNATURE_BUTTON_LIGHT: #d8d8d8;
$_BORDER_COLOR_POPUP_LIGHT: #ececee;
$_BORDER_COLOR_POPUP_INPUT_LIGHT: #e3e5e6;
$_BORDER_COLOR_FILE_LIGHT: #e7e5e5;
$_BORDER_COLOR_THREAD_EMAIL_EXPAND_LIGHT: #e4e5e7;


/* 4.2- THEME DARK
   ----------------------------- */
$_BACKGROUND_COLOR_ACTIVITY_DARK: #2a2d32;
$_BACKGROUND_COLOR_ACTIVITY_ITEM_UNREAD_DARK: #40424a;
$_BACKGROUND_COLOR_SIDEBAR_DARK: #2a2d32;
$_BACKGROUND_COLOR_MAIN_DARK: #1a1c21;
$_BACKGROUND_COLOR_MAIN_EMPTY_DARK: #34363c;
$_BACKGROUND_COLOR_MAIN_EMPTY_LOADING_DARK: #525762;
$_BACKGROUND_COLOR_MAIN_EMPTY_LOADING_BAR_DARK: #75b2e3;
$_BACKGROUND_COLOR_NAVITEM_SELECTED_DARK: #40424a;
$_BACKGROUND_COLOR_NAVITEM_HOVER_DARK: #3c3d44;
$_BACKGROUND_COLOR_THREAD_ITEM_UNREAD_DARK: #34363c;
$_BACKGROUND_COLOR_THREAD_ITEM_READ_DARK: #1f2228;
$_BACKGROUND_COLOR_THREAD_ITEM_CHECKED_DARK: #243441;
$_BACKGROUND_COLOR_THREAD_ITEM_HOVER_DARK: #525560;
$_BACKGROUND_COLOR_THREAD_ITEM_EMAILS_SIZE_DARK: #4b4b4b;
$_BACKGROUND_COLOR_THREAD_ITEM_BUTTON_OPTION_DARK: #1f2228;
$_BACKGROUND_COLOR_THREAD_ITEM_LABELS_DARK: #5a5c66;
$_BACKGROUND_COLOR_EMAIL_DARK: #34363c;
$_BACKGROUND_COLOR_EMAIL_LOADING_GRADIENT1_DARK: #45484d;
$_BACKGROUND_COLOR_EMAIL_LOADING_GRADIENT2_DARK: #4e5055;
$_BACKGROUND_COLOR_EMAIL_LOADING_GRADIENT3_DARK: #42454a;
$_BACKGROUND_COLOR_EMAIL_BUTTON_SEGMENT_DARK: #34363c;
$_BACKGROUND_COLOR_EMAIL_DOTS_COLLAPSED_DARK: #535762;
$_BACKGROUND_COLOR_EMAIL_DOTS_COLLAPSED_HOVER_DARK: #656a78;
$_BACKGROUND_COLOR_EMAIL_DOTS_EXPANDED_DARK: #393b41;
$_BACKGROUND_COLOR_EMAIL_DOTS_EXPANDED_HOVER_DARK: #43464d;
$_BACKGROUND_COLOR_POPOVER_DARK: #525560;
$_BACKGROUND_COLOR_POPOVER_EMAIL_ACTION_ITEM_HOVER_DARK: #707481;
$_BACKGROUND_COLOR_SELECT_DARK: #9698a2;
$_BACKGROUND_COLOR_BUTTON-B_DARK: transparent;
$_BACKGROUND_COLOR_TOOLTIP_DARK: #707482;
$_BACKGROUND_COLOR_SEARCH_HOVER_DARK: #696D7A;
$_BACKGROUND_COLOR_SETTINGS_DARK: #1f2228;
$_BACKGROUND_COLOR_SETTINGS_TITLE_DARK: #15181d;
$_BACKGROUND_COLOR_SETTINGS_SIGNATURE_DARK: #373a45;
$_BACKGROUND_COLOR_SETTINGS_SIGNATURE_BUTTON_DARK: #707481;
$_BACKGROUND_COLOR_SETTINGS_SIGNATURE_BUTTON_HOVER_DARK: #6c6e77;
$_BACKGROUND_COLOR_SETTINGS_DEVICES_ITEM_HOVER_DARK: #373a45;
$_BACKGROUND_COLOR_POPUP_DARK: #1f222a;
$_BACKGROUND_COLOR_CRASH_APP_DARK: #2b2f37;
$_BACKGROUND_FILE_DARK: #535762;
$_BACKGROUND_FILE_HOVER_DARK: #707481;
$_BACKGROUND_FILE_BUTTON_DARK: linear-gradient(to right, rgba(112, 116, 128, 0.2) 0%, #707481 50%);
$_BACKGROUND_COLOR_SCROLLBAR_DARK: rgba(55, 58, 69, 0.486);
$_BACKGROUND_COLOR_SCROLLBAR_CONTROL_DARK: rgba(80, 81, 85, 0.843);
$_BACKGROUND_COLOR_FILE_UNAVAILABLE_DARK: #a0a3ac;
$_COLOR_ICON_NAVITEM_DARK: #b4b5be;
$_COLOR_ICON_NAVITEM_SELECTED_DARK: white;
$_COLOR_ICON_THREAD_ITEM_BUTTON_OPTION_DARK: #dddcdc;
$_COLOR_ICON_EMAIL_BUTTON_OPTION_DARK: #8a919b;
$_COLOR_ICON_EMAIL_BUTTON_SEGMENT_DARK: #edefff;
$_COLOR_ICON_EMAIL_DOTS_COLLAPSED_DARK: #e9e9e9;
$_COLOR_ICON_EMAIL_DOTS_COLLAPSED_HOVER_DARK: #fcfcfc;
$_COLOR_ICON_EMAIL_DOTS_EXPANDED_DARK: #15181c;
$_COLOR_ICON_EMAIL_DOTS_EXPANDED_HOVER_DARK: #1e2228;
$_COLOR_TEXT_CONTAINER_EMPTY_TITLE_DARK: white;
$_COLOR_TEXT_ACTIVITY_ITEM_TITLE_DARK: white;
$_COLOR_TEXT_NAVITEM_DARK: #b4b5be;
$_COLOR_TEXT_NAVITEM_SELECTED_DARK: white;
$_COLOR_TEXT_THREAD_ITEM_RECIPIENT_DARK: white;
$_COLOR_TEXT_THREAD_ITEM_SUBJECT_DARK: white;
$_COLOR_TEXT_THREAD_ITEM_CONTENT_DARK: #afb3bc;
$_COLOR_TEXT_THREAD_ITEM_EMAILS_SIZE_DARK: white;
$_COLOR_TEXT_THREAD_ITEM_LABELS_DARK: white;
$_COLOR_TEXT_MAIN_TITLE_DARK: white;
$_COLOR_TEXT_MAIN_SWITCH_UNREAD_DARK: #cacaca;
$_COLOR_TEXT_MAIN_SWITCH_ALL_DARK: #858688;
$_COLOR_TEXT_THREAD_EMAIL_EXPAND_DARK: #949aab;
$_COLOR_TEXT_EMAIL_SUBJECT_DARK: white;
$_COLOR_TEXT_EMAIL_PREVIEW_DARK: #949aab;
$_COLOR_TEXT_EMAIL_CONTENT_DARK: #e9edf6;
$_COLOR_TEXT_EMAIL_CONTENT_LINK_DARK: #0091ff;
$_COLOR_TEXT_EMAIL_BUTTON_SEGMENT_DARK: #edefff;
$_COLOR_TEXT_POPOVER_DARK: white;
$_COLOR_TEXT_CONTACT_TAG_NAME_DARK: white;
$_COLOR_TEXT_CONTACT_TAG_EMAIL_DARK: #379bff;
$_COLOR_TEXT_CHECKBOX_DARK: #afb3bc;
$_COLOR_TEXT_SEARCH_OPTION_DARK: white;
$_COLOR_TEXT_SEARCH_HINT_DARK: #e9e9e9;
$_COLOR_TEXT_SELECT_DARK: white;
$_COLOR_TEXT_TOOLTIP_DARK: white;
$_COLOR_TEXT_SETTINGS_TITLE_DARK: white;
$_COLOR_TEXT_SETTINGS_CONTENT_DARK: #b4b5be;
$_COLOR_TEXT_SETTINGS_SIGNATURE_DARK: white;
$_COLOR_TEXT_SETTINGS_DEVICES_TITLE_DARK: white;
$_COLOR_TEXT_POPUP_TITLE_DARK: white;
$_COLOR_TEXT_POPUP_SUBTITLE_DARK: #5c6174;
$_COLOR_TEXT_POPUP_PARAGRAPH_DARK: #b4b5be;
$_COLOR_TEXT_POPUP_BUTTON_CANCEL_DARK: white;
$_COLOR_TEXT_INPUT_DARK: white;
$_COLOR_TEXT_FILE_TITLE_DARK: white;
$_COLOR_TEXT_CRASH_TITLE_DARK: white;
$_COLOR_TEXT_CRASH_COUNTER_DARK: #969595;
$_COLOR_TEXT_PRIMARY_PROFILE_SHORTCUT_DARK: white;
$_BORDER_COLOR_NAV_DARK: #565656;
$_BORDER_COLOR_THREAD_ITEM_DARK: #3a3d41;
$_BORDER_COLOR_EMAIL_DARK: #454648;
$_BORDER_COLOR_EMAIL_UNSEND_DARK: #dc4d48;
$_BORDER_COLOR_EMAIL_BUTTON_SEGMENT_DARK: #454648;
$_BORDER_COLOR_EMAIL_DOTS_EXPANDED_DARK: #535762;
$_BORDER_COLOR_EMAIL_DOTS_EXPANDED_HOVER_DARK: #535762;
$_BORDER_COLOR_EMAIL_DOTS_COLLAPSED_DARK: #393b41;
$_BORDER_COLOR_EMAIL_DOTS_COLLAPSED_HOVER_DARK: #393b41;
$_BORDER_COLOR_POPOVER_DARK: #525560;
$_BORDER_COLOR_SEARCH_OPTION_DARK: #3a3d41;
$_BORDER_COLOR_SETTINGS_HEADER_DARK: #404144;
$_BORDER_COLOR_SETTINGS_SIGNATURE_DARK: #404144;
$_BORDER_COLOR_SETTINGS_SIGNATURE_BUTTON_DARK: #404144;
$_BORDER_COLOR_POPUP_DARK: #1f222a;
$_BORDER_COLOR_POPUP_INPUT_DARK: #798091;
$_BORDER_COLOR_FILE_DARK: #535762;
$_BORDER_COLOR_THREAD_EMAIL_EXPAND_DARK: #727477;
