
/***

FILE: index.css

TABLE OF CONTENTS

1.- PATHS
2.- SIZES
3.- ANIMATION
4.- THEME

***/

/* 1.- PATHS
   ----------------------------- */
$_PATH_TO_IMAGES: "./images";
$_PATH_TO_FONTS: "./fonts";

/* 2.- SIZES
   ----------------------------- */
$_HEIGHT_HEADER: 61px;
$_MAX_WIDTH_SCREEN: 800px;

/* 3.- ANIMATION
   ----------------------------- */
$_DELAY_NAVIGATION_FEED_EXPAND: 200ms;
$_DURATION_NAVIGATION_FEED_EXPAND: 300ms;
$_DURATION_NAVIGATION_FEED_COLLAPSE: 300ms;

/* 4.- THEME
   ----------------------------- */
$_THEME_LIGHT: 'light';
$_THEME_DARK: 'dark';
$_PRINCIPAL_LIGHT: white;
$_PRINCIPAL_DARK: #2a2d32;

/* 4.1- THEME LIGHT
   ----------------------------- */
$_BACKGROUND_COLOR_ACTIVITY_LIGHT: $_PRINCIPAL_LIGHT;
$_BACKGROUND_COLOR_SIDEBAR_LIGHT: $_PRINCIPAL_LIGHT;
$_BACKGROUND_COLOR_MAIN_LIGHT: #f7f7f8;
$_BACKGROUND_COLOR_NAVITEM_SELECTED_LIGHT: #f2f8ff;
$_BACKGROUND_COLOR_NAVITEM_HOVER_LIGHT: #f7fbff;
$_BACKGROUND_COLOR_THREAD_ITEM_UNREAD_LIGHT: $_PRINCIPAL_LIGHT;
$_BACKGROUND_COLOR_THREAD_ITEM_READ_LIGHT: #f4f4f4;
$_BACKGROUND_COLOR_THREAD_ITEM_HOVER_LIGHT: none;
$_BACKGROUND_COLOR_THREAD_ITEM_BUTTON_OPTION_LIGHT: #f7f7f8;
$_BACKGROUND_COLOR_THREAD_ITEM_LABELS_LIGHT: #e5e5e6;
$_BACKGROUND_COLOR_EMAIL_LIGHT: white;
$_COLOR_ICON_THREAD_ITEM_BUTTON_OPTION_LIGHT: #878e98;
$_COLOR_TEXT_PRIMARY_LIGHT: black;
$_COLOR_TEXT_SECONDARY_LIGHT: #6a707e;
$_COLOR_TEXT_THREAD_ITEM_RECIPIENT_LIGHT: black;
$_COLOR_TEXT_THREAD_ITEM_SUBJECT_LIGHT: black;
$_COLOR_TEXT_THREAD_ITEM_CONTENT_LIGHT: #6a707e;
$_COLOR_TEXT_THREAD_ITEM_LABELS_LIGHT: #6a707e;
$_COLOR_TEXT_MAIN_TITLE_LIGHT: $_PRINCIPAL_LIGHT;
$_COLOR_TEXT_MAIN_SWITCH_UNREAD_LIGHT: black;
$_COLOR_TEXT_MAIN_SWITCH_ALL_LIGHT: #858688;
$_COLOR_TEXT_EMAIL_SUBJECT_LIGHT: black;
$_BORDER_COLOR_NAV_LIGHT: #f3f3f3;
$_BORDER_COLOR_THREAD_ITEM_LIGHT: #ebebeb;
$_BORDER_COLOR_EMAIL_LIGHT: #dcdde0;
$_BORDER_COLOR_EMAIL_UNSEND_LIGHT: #eeb6b7;

/* 4.2- THEME DARK
   ----------------------------- */
$_BACKGROUND_COLOR_ACTIVITY_DARK: $_PRINCIPAL_DARK;
$_BACKGROUND_COLOR_SIDEBAR_DARK: $_PRINCIPAL_DARK;
$_BACKGROUND_COLOR_MAIN_DARK: #1a1c21;
$_BACKGROUND_COLOR_NAVITEM_SELECTED_DARK: #40424a;
$_BACKGROUND_COLOR_NAVITEM_HOVER_DARK: #3c3d44;
$_BACKGROUND_COLOR_THREAD_ITEM_UNREAD_DARK: #34363c;
$_BACKGROUND_COLOR_THREAD_ITEM_READ_DARK: #1f2228;
$_BACKGROUND_COLOR_THREAD_ITEM_HOVER_DARK: #525560;
$_BACKGROUND_COLOR_THREAD_ITEM_BUTTON_OPTION_DARK: #1f2228;
$_BACKGROUND_COLOR_THREAD_ITEM_LABELS_DARK: #5a5c66;
$_BACKGROUND_COLOR_EMAIL_DARK: #34363c;
$_COLOR_ICON_THREAD_ITEM_BUTTON_OPTION_DARK: #dddcdc;
$_COLOR_TEXT_PRIMARY_DARK: white;
$_COLOR_TEXT_SECONDARY_DARK: #b4b5be;
$_COLOR_TEXT_THREAD_ITEM_RECIPIENT_DARK: white;
$_COLOR_TEXT_THREAD_ITEM_SUBJECT_DARK: white;
$_COLOR_TEXT_THREAD_ITEM_CONTENT_DARK: #afb3bc;
$_COLOR_TEXT_THREAD_ITEM_LABELS_DARK: white;
$_COLOR_TEXT_MAIN_TITLE_DARK: #808188;
$_COLOR_TEXT_MAIN_SWITCH_UNREAD_DARK: #cacaca;
$_COLOR_TEXT_MAIN_SWITCH_ALL_DARK: #858688;
$_COLOR_TEXT_EMAIL_SUBJECT_DARK: white;
$_BORDER_COLOR_NAV_DARK: #565656;
$_BORDER_COLOR_THREAD_ITEM_DARK: #3a3d41;
$_BORDER_COLOR_EMAIL_DARK: #454648;
$_BORDER_COLOR_EMAIL_UNSEND_DARK: #eeb6b7;